<!DOCTYPE html>
<html lang="en">
{block js}{/block} {* default js *}
{block css}{/block} {* default css *}
<head>
    {php $suffix = isset($suffix) ? $suffix : 'tmpHash'}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{$basePath}/images/icon.png?{$suffix}">

    <title>Léky na míru {if isset($mainTitle)} - {$mainTitle}{/if}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{$basePath}/css/bootstrap.css?{$suffix}" rel="stylesheet">
    <link href="{$basePath}/css/main.css?{$suffix}" rel="stylesheet">
    <link href="{$basePath}/vendor/font-awesome/css/font-awesome.min.css?{$suffix}" rel="stylesheet">
    <link href="{$basePath}/css/font.css?{$suffix}" rel="stylesheet">
    <!-- Custom CSS -->
    {*<link href="{$basePath}/css/round-about.css?{$suffix}" rel="stylesheet">*}
    <link href="{$basePath}/css/jquery.dataTables.css?{$suffix}" rel="stylesheet">
    <link href="{$basePath}/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css?{$suffix}"
          rel="stylesheet">
    <link href="{$basePath}/css/bootstrap3.nextras.datagrid.css?{$suffix}" rel="stylesheet">
    <link href="{$basePath}/css/chosen.bootstrap.css?{$suffix}" rel="stylesheet">
    <link href="{$basePath}/vendor/jquery.fancytree/dist/skin-lion/ui.fancytree.css?{$suffix}" rel="stylesheet">
    {include css}


    <!-- jQuery -->
    <script src="{$basePath}/vendor/jquery/dist/jquery.min.js?{$suffix}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{$basePath}/vendor/bootstrap3/dist/js/bootstrap.min.js?{$suffix}"></script>
    <script src="{$basePath}/vendor/nette-forms/src/assets/netteForms.js?{$suffix}"></script>
    <script src="{$basePath}/vendor/nette.ajax.js/nette.ajax.js?{$suffix}"></script>
    <script src="{$basePath}/js/jquery.dataTables.js?{$suffix}"></script>
    <script src="{$basePath}/js/bootstrap-tooltip.js?{$suffix}"></script>
    <script src="{$basePath}/vendor/bootstrap-confirmation/bootstrap-confirmation.js?{$suffix}"></script>
    <script src="{$basePath}/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="{$basePath}/vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.cs.min.js"></script>
    <script src="{$basePath}/vendor/jquery.fancytree/dist/jquery.fancytree-all-deps.js"></script>
    <script src="{$basePath}/js/chosen.jquery.js?{$suffix}"></script>
    <script src="{$basePath}/js/date-de.js?{$suffix}"></script>
    <script src="{$basePath}/js/nextras.datagrid.js?{$suffix}"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {include js}

    <script src="{$basePath}/js/main.js?{$suffix}"></script>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    {if isset($staging) and $staging}
        <div class="testing-msg">testovací prostředí</div>
    {/if}
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Lekynamiru</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {if isset($logged) && $logged == true}
                    {foreach $menu as $item}
                            {if empty($item[sub])}
                                <li>
                                    <a href="{link $item[link]}" title="{$item[help]}" data-placement="right">
                                        <i class="fa fa-{$item[icon]}"></i>
                                        <span>{$item[name]|noescape}</span>
                                    </a>
                                </li>
                            {else}
                                <li class="dropdown">

                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-{$item[icon]}"></i> {$item[name]} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {foreach $item[sub] as $subitem}
                                                <li>
                                                    <a href="{link $subitem[link]}" title="{$subitem[help]}"
                                                       data-placement="right">
                                                        <i class="fa fa-{$subitem[icon]}"></i>
                                                        <span> {$subitem[name]}</span>
                                                    </a>
                                                </li>
                                        {/foreach}
                                    </ul>
                                </li>
                            {/if}
                    {/foreach}
                {/if}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {if isset($logged) && $logged == true}
                    {if isset($activeBranche) && !$user->isAllowed(Login, [action => changeBranche, params=>id])}
                        <li><a href="#">{$activeBranche->name}</a></li>
                    {/if}
                    {if $user->isAllowed(Login, [action => changeBranche, params=>id])}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {$activeBranche->name} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li n:foreach="$branches as $branche">
                                    <a href="{link Login:changeBranche $branche->id}" title="{$branche->id}"
                                       data-placement="right">
                                        <i class="fa "></i>
                                        <span> {$branche->name}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {/if}
                    <li><a href="{link User:profile}">{$userName}</a></li>

                    <li><a href="{link Login:out}" class="fa fa-sign-out" title="Odhlásit se"></a></li>
                {else}
                    <li><a href="{link Login:}" class="fa fa-sign-in" title="Přihlásit se"></a></li>
                {/if}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{snippet flashes}
    <div id="flashes">
        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}  .alert-dismissible">
            {$flash->message}
        </div>
    </div>
    <script>
        $(".alert").fadeTo('slow', 1000, function () {
            setTimeout(function () {
                $(".alert").fadeOut(500);
            }, 2000);
        });</script>
{/snippet}
<!-- Page Content -->
<div class="container">
        <span id="spinner" class="ajaxSpinner">
            <span class="inner">
                <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </span>
        </span>
    <!-- Introduction Row -->
    <div class="row">
        {snippet pageTitleSnippet}
            {if isset($mainTitle)}
                <div class="col-lg-12">
                    <h1 class="page-header">{$mainTitle}
                        {if isset($subTitle)}
                            <small>{$subTitle|noescape}</small>
                        {/if}
                    </h1>
                </div>
            {/if}
        {/snippet}
    </div>

    {include content}
    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Lekynamiru.cz 2015 - 2021{if isset($logged) && $logged == true} | verze
                    <a n:href="Changelog:Default">{$version} {$versionName}</a>{/if}</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->


</body>

</html>
