{block content}
    <a n:if="$user->isAllowed(Medicine, [action => cans, do=>ManageCan])" n:href="ManageCan!"
            class="ajax tomodal btn btn-success" data-toggle="modal" data-target="myModal"><i
                class="fa fa-plus"></i> Přidat kanystr</a>

    <a n:if="$user->isAllowed(Api, [action => can])" n:href="Api:Can xls"
            class="btn-primary btn"><span class=" fa fa-file-excel-o"></span> XLS</a>

    {snippet listOfCans}

        {var $canEdit = $user->isAllowed(Medicine, [action => cans, do=>ManageCan, params=>id]) }
        {var $canRemove = $user->isAllowed(Medicine, [action => cans, do=>DelCan, params=>id])}
        {var $canAction = $canEdit || $canRemove}

        <table id="myTable" class="table table-striped table-hover table-heading dataTable">
            <thead>
            <tr>
                <th>Název kanystru</th>
                <th>Zařazený lék</th>
                <th n:if="$canAction">
                    Akce
                </th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$data as $item" id="row_{$item->id}">
                <td>{$item->name}</td>
                <td>{$item->getMedicine()}</td>
                <td n:if="$canAction">
                    <div class="btn-group btn-group-sm">
                        <a n:if="$canEdit" n:href="ManageCan! $item->id"
                                class="ajax tomodal btn btn-info" data-toggle="modal"
                                data-target="myModal">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a n:if="$canRemove"
                                id="del{$item->id}" href="#" data-url="{link DelCan! $item->id}"
                                data-href="javascript:del({$item->id})" class="ajax btn btn-danger"
                                data-toggle="confirmation" data-placement="top" data-original-title="Opravdu smazat?"
                                title="">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <script>
            update();
        </script>
    {/snippet}


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {snippet titleSnippet}
                            {if isset($showTitle)}
                                {$modalTitle}
                            {/if}
                        {/snippet}
                    </h4>
                </div>
                <div class="modal-body">
                    {snippet canFormSnippet}
                        {if isset($showCanForm) && $showCanForm}
                            {control canForm}
                            <script>updateChosen();</script>
                            <script>reinitClosing();</script>

                        {else}
                            <script>closeModal()</script>
                        {/if}

                    {/snippet}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

                </div>
            </div>
        </div>
    </div>

{/block}