{block content}

    <a n:if="$user->isAllowed(Medicine, [action => default, do=>ManageMedicine])"  n:href="ManageMedicine!"
            class="ajax tomodal btn btn-success" data-toggle="modal" data-target="myModal"><i
                class="fa fa-plus"></i> Přidat lék</a>


    <a n:if="$user->isAllowed(Api, [action => medicine])" n:href="Api:Medicine xls" class="btn-primary btn"><span
                class=" fa fa-file-excel-o"></span> XLS</a>

    {snippet listOfMedicine}
        {var $canEdit = $user->isAllowed(Medicine, [action => default, do=>ManageMedicine, params=>id]) }
        {var $canRemove = $user->isAllowed(Medicine, [action => default, do=>DelMedicine, params=>id])}
        {var $canAction = $canEdit || $canRemove}

        <div class="contentDiv">
            <table id="myTable" class="table table-striped table-hover table-heading dataTable">
                <thead>
                <tr>
                    <th>Umístění</th>
                    <th>Název</th>
                    <th>SUKL</th>
                    <th>Kanystr</th>
                    <th>Balení</th>
                    <th>Odbornosti</th>
                    <th>Nebezpečný</th>
                    <th n:if="$canAction" style="min-width: 60px;">Akce</th>
                </tr>
                </thead>
                <tbody>
                <tr n:foreach="$data as $item" id="row_{$item->id}">
                    <td>{$item->getCan()}</td>
                    <td>{$item->name}</td>
                    <td>{$item->sukl}</td>
                    <td>{$item->getCan()}</td>
                    <td>{$item->getPackage()}</td>
                    <td>{$item->getSpecialities()}</td>
                    <td>{$item->isDangerous()|noescape}</td>
                    <td n:if="$canAction">
                        <div class="btn-group btn-group-sm">
                            <a n:if="$canEdit" n:href="ManageMedicine! $item->id"
                                    class="ajax tomodal btn btn-info" data-toggle="modal"
                                    data-target="myModal">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a n:if="$canRemove"
                                    id="del{$item->id}" href="#" data-url="{link DelMedicine! $item->id}"
                                    data-href="javascript:del({$item->id})" class="ajax btn btn-danger"
                                    data-toggle="confirmation">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <script>
            update();
        </script>
    {/snippet}


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {snippet titleSnippet}
                            {if isset($showTitle)}
                                {$modalTitle}
                            {/if}
                        {/snippet}
                    </h4>
                </div>
                <div class="modal-body">
                    {snippet medicineFormSnippet}
                        {if isset($showMedicineForm)}
                            {control medicineForm}
                            <script>initNextOption();</script>
                        {/if}

                    {/snippet}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

                </div>
            </div>
        </div>
    </div>

{/block}