{block content}
	<div class="container">
		<h3>Import léků</h3>
		Vyberte soubor k import:
		{control importForm}
		<hr>
		{if $imported}
			<div class="row">

				<div class="col-md-6">
					<h3>Úspešně importováno</h3>
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Název léku</th>
						</tr>
						</thead>
						<tbody>
						{foreach $importSucceded as $item}
							<tr>
								<td>{$item}</td>
							</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
					<h3>NEÚspešně importováno</h3>
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Název léku</th>
						</tr>
						</thead>
						<tbody>
						{foreach $importFailed as $item}
							<tr>
								<td>{$item}</td>
							</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
			</div>

		{/if}
	</div>
{/block}
