{block content}

    <ul>
        {*<li class="future">2.2 ; -</li>*}
        {*<ul>*}
        {*<li class="future"></li>*}
        {*</ul>*}

        <li class="activeVersion">2.3.0 Antimony;</li>
        <ul>
            <li class="fc">migrace na nové prostředí</li>
        </ul>
        <li>2.2.2 Americium;</li>
        <ul>
            <li class="fc">opravy objednávek</li>
            <li class="fc">soubory v objednávkách</li>
        </ul>
        <li class="">2.2.1 Americium; 8.11.2019</li>
        <ul>
            <li class="fc">asociovaní uživatelé</li>
        </ul>

        <li>2.2 Americium; 4.9.2019</li>
        <ul>
            <li class="fc">správa rolí a přístupová práva</li>
            <li class="tc">migrace na PHP 7.2</li>
        </ul>

        <li>2.1.6 Aluminum; 6.4.2019</li>
        <ul>
            <li class="fc">export do Eureky podle oddělení</li>
        </ul>


        <li>2.1.5 Aluminum; 23.2.2019</li>
        <ul>
            <li class="fc">právo na zobrazování součtů léků</li>
            <li class="tc">superadmin</li>
            <li class="tc">import dat</li>
        </ul>

        <li>2.1.4 Aluminum; 16.12.2018</li>
        <ul>
            <li class="fc">progress bar při načítání komponent</li>
            <li class="fc">fixace tabulek při provádění operací (medikace apod.)</li>
            <li class="tc">balíčkovací systém yarn</li>
        </ul>
        <li>2.1.3 Aluminum; 9.12.2018</li>
        <ul>
            <li class="fc">možnost importu léků</li>
            <li class="tc">odstranění chyby tvorby predikcí</li>
            <li class="tc">optimalizace kódu</li>
            <li class="tc">spuštění nové instance</li>
        </ul>
        <li>2.1.2 Aluminum; 9.9.2018</li>
        <ul>
            <li class="fc">možnost vybrat aktivní týden medikace</li>
            <li class="tc">odstranění chyby aktivního týdne u vícetýdenních cyklů</li>
        </ul>

        <li>2.1.1 Aluminum; 4.3.2018</li>
        <ul>
            <li class="tc">dodatečné zabezpečení monitorovacího nástroje</li>
        </ul>

        <li>2.1 Aluminum; 28.2.2018</li>
        <ul>
            <li>modul Objednávky</li>
            <li>oprava výpočtu spotřeby</li>
            <li>redesign modulu Domovy</li>
        </ul>

        <li>2.0.2 Actinium; 20.9.2017</li>
        <ul>
            <li class="fc">opravy - ukotvení data v excelu, sestry vidí pouze svoje oddělení</li>
            <li class="fc">odstranění číselných šipek pro pole typu číslo</li>
        </ul>
        <li class="">2.0.1 Actinium; 17.9.2017</li>
        <ul>
            <li class="fc">optimalizována práce s denní spotřebou - počítáno jako průměr všech týdnů</li>
            <li class="tc">refaktorovan UsageRepository</li>
            <li class="tc">stránka pro stav údržby</li>
        </ul>
        <li>2.0 Actinium; 9.9.2017</li>
        <ul>
            <li class="fc">první označená verze</li>
            <li class="fc">Léky, Domovy, Pacienti, Stavy, Reporty, Spotřeba, Systém</li>
            <li class="tc">povýšeno PHP na 7.1</li>
            <li class="tc">codeplex vyměněn za phpoffice</li>
        </ul>
    </ul>
{/block}
