{block content}
    {snippet list}
        <ul class="nav nav-tabs">
            <li role="presentation" {if $selectedUsageBranche == 0}class="active"{/if}><a n:href="changeUsage! 0"
                        class="ajax">Celková</a></li>
            {foreach $branches as $branche}
                <li n:if="$user->isAllowed(Usage, [action => default, do=>changeUsage, params=>'branche'])"
                        role="presentation" {if $selectedUsageBranche == $branche->id} class="active"{/if}>
                    <a n:href="changeUsage! $branche->id" class="ajax">{$branche->name}</a></li>
            {/foreach}
        </ul>


        <div class="deps">
            <ul class="nav nav-pills">
                {if !isset($next)}
                    {php $next = 4;}
                    {php $now = 2;}
                    {php $previous = 0;}
                {/if}

                <li class="plus-minus-usage" n:if="$user->isAllowed(Usage, [action => default, do=>changeUsage, params=>'branche,period'])">
                    <div class="input-group">
                     <span class="input-group-btn">
                        <a type="button" onclick="plus(this, 2);"
                           onclick="showLoading();"
                                n:href="changeUsage! $selectedUsageBranche, $selectedUsageDep, $previous"  class="ajax btn btn-danger btn-number"
                           data-type="minus" data-field="quant[2]" data-target="weeks">
                            <span class="fa fa-minus"> </span>
                        </a>
                     </span>
                        <input type="text" class="input-number form-control plus-minus-input" value="{$now}" id="weeks">
                        <span class="input-group-btn">
                        <a type="button" data-target="weeks"
                           onclick="showLoading();"  
                           n:if="$user->isAllowed(Usage, [action => default, do=>changeUsage, params=>'branche,period'])"
                                n:href="changeUsage! $selectedUsageBranche, $selectedUsageDep, $next" onclick="plus(this, 2);"
                           data-target="" class="ajax  btn btn-success btn-number" data-type="plus"
                           data-max="16" data-field="quant[2]"><span class="fa fa-plus"></span></a>
                    </span>
                    </div>
                </li>
                <li>
                    <a n:if="$user->isAllowed(Api, [action => usage])" n:href="Api:Usage $selectedUsageBranche, $selectedUsageDep, $now, xls"
                            class="pills-warning"><span
                                class=" fa fa-file-excel-o"></span> <b>XLS</b></a></li>
                <li>
                    <a n:if="$user->isAllowed(Api, [action => production])" n:href="Api:Production $selectedUsageBranche, $selectedUsageDep, $now, xls"
                            class="pills-warning"><span class=" fa fa-file-excel-o" onclick="showLoading();"></span> <b>Výroba
                            XLS</b></a></li>

                {if $selectedUsageBranche != 0}

                    {foreach $deps as $depid => $depval}
                        <li n:if="$user->isAllowed(Usage, [action => default, do=>changeUsage, params=>'branche'])"
                                role="presentation"{if $selectedUsageDep == $depid} class="active"{/if}>
                            <a n:href="changeUsage! $selectedUsageBranche, $depid" class="ajax"
                                                                                   onclick="showLoading();">{$depval}</a>
                        </li>
                    {/foreach}

                {/if}
            </ul>
        </div>
        <div class="contentDiv">

            <table id="myTable" class="table table-striped table-hover table-heading dataTable">
                <thead>

                <tr>
                    <th>Lék</th>
                    <th>Umístění</th>
                    <th>Půlky</th>
                    <th>Čtvrtky</th>
                    <th>Třetiny</th>
                    <th>Celé</th>
                    <th>Celkem</th>
                    <th>Balení</th>
                    <th>S. balení</th>
                </tr>
                </thead>
                <tbody>
                {foreach $usages as $usage}

                    <tr>
                        <td>{$usage->getMedicineName()}</td>
                        <td>{$usage->getCan()}</td>
                        <td>{$usage->halfs}</td>
                        <td>{$usage->quaters}</td>
                        <td>{$usage->thirds}</td>
                        <td>{$usage->fulls}</td>
                        <td>{$usage->getSum()}</td>
                        <td>
                            {php $notSelected=0}
                            {foreach $usage->getPackageList() as $pck}

                                <button data-target="pck{$usage->id}" data-size="{$pck->size}"
                                        data-sum="{$usage->getSum()}"
                                        onclick="changePck(this);"
                                        class="btn btn-xs {if $notSelected==0}btn-success pck-selected{php $notSelected=$pck->size}{/if}">{$pck->size}</button>
                            {/foreach}
                        </td>
                        <td id="pck{$usage->id}">
                            {if $notSelected == 0}
                                -
                            {else}
                                {round($usage->getSum()/$notSelected,2)}
                            {/if}</td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
        <script>update();</script>
    {/snippet}
{/block}