{block content}

    <a n:if="$user->isAllowed(Patient, [action => default, do=>ManagePatient])" n:href="ManagePatient!"
            class="ajax tomodal btn btn-success" data-toggle="modal" data-target="myModal"><i
                class="fa fa-plus"></i> Přidat pacienta</a>

    <a n:if="$user->isAllowed(Api, [action => patients])" n:href="Api:Patients all, xls" class="btn-primary btn">
        <span class=" fa fa-file-excel-o"></span> XLS
    </a>

    <a n:if="$user->isAllowed(Api, [action => patient-data, params=>what])"  n:href="Api:PatientsData all, xls" class="btn-info btn">
        <span class=" fa fa-file-excel-o"></span> XLS všichni
    </a>

    {snippet listSnippet}

        {var $allowEdit = $user->isAllowed(Patient, [action => default, do=>ManagePatient, params=>id])}
        {var $allowDelete =  $user->isAllowed(Patient, [action => default, do=>DelPatient, params=>id])}
        {var $allowPlan = $user->isAllowed(Patient, [action => default, do=>Plan, params=>id])}
        {var $allowAddToCard = $user->isAllowed(Patient, [action => default, do=>AddToCard, params=>id])}
        {var $allowMultiPills = $user->isAllowed(Patient, [action => default, do=>MultiPills, params=>id])}

        {var $allowAction = $allowEdit || $allowDelete || $allowPlan || $allowAddToCard || $allowMultiPills || $allowMultiPills }
        {var $allowShowCard = $user->isAllowed(Patient, [action => default, do=>ShowCard, params=>id]) }

        {var $allowRC = $user->isAllowed(Patient, [action => default, do=>show_rc])}
        <div class="contentDiv">

            <table id="myTable"
                    {* all -> 6*}
                    {if $allowAction && $allowRC}data-name="patient-admin"
                        {* action xor rc -> 5*}
                    {elseif $allowAction xor $allowRC}data-name="patient-view-secret"
                        {* nothing -> 4*}
                    {else}data-name="patient-view"{/if}

                   class="table table-striped table-hover table-heading dataTable">
                <thead>
                <tr>
                    <th>Příjmení jméno</th>
                    <th>Datum narození</th>
                    <th n:if="$allowRC">RČ</th>
                    <th class="filter">Pojišťovna</th>
                    <th class="filter">Umístění</th>
                    <th n:if="$allowAction">
                        Akce
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th n:if="$allowRC"></th>
                    <th></th>
                    <th></th>
                    <th n:if="$allowAction"></th>
                </tr>
                </tfoot>
                <tbody>

                {foreach $data as $item}
                    <tr id="row_{$item->id}">
                        <td data-order="{$item->lastName} {$item->firstName}">
                            {if $allowShowCard}
                                <a n:href="ShowCard! $item->id" class="ajax tomodal" data-toggle="modal"
                                                                data-target="myModal">
                                    <button class="btn btn-primary btn-xs"><span class="fa fa-list"></span></button>
                                    &nbsp{$item->lastName} {$item->firstName}</a>
                            {else}
                                <span>
                                &nbsp{$item->lastName} {$item->firstName}</span>
                            {/if}

                            {if $item->state == sleeping}
                                <button class="btn btn-warning btn-xs">Pasivní</button>
                            {elseif $item->state == stop}
                                <button class="btn btn-danger btn-xs">Pozastaveno</button>
                            {elseif $item->state == dead}
                                <button class="btn btn-deafult btn-xs">&#10013;</button>
                            {/if}
                        </td>
                        <td>{$item->birthDate|date:'%d.%m.%Y'}</td>
                        <td n:if="$allowRC">{$item->rc}</td>
                        <td>{$item->pojistovna}</td>
                        <td>{$item->getPatientsDepartment()}</td>
                        <td n:if="$allowAction">
                            <div class="btn-group btn-group-sm">
                                <a n:if="$user->isAllowed(Patient, [action => default, do=>ManagePatient, params=>id])" n:href="ManagePatient! $item->id"
                                        class="ajax tomodal btn btn-info"
                                        data-toggle="modal"
                                        data-target="myModal">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a n:if="$user->isAllowed(Patient, [action => default, do=>DelPatient, params=>id])"
                                        id="del{$item->id}" data-url="{link DelPatient! $item->id}"
                                        data-href="javascript:del({$item->id})" class="ajax btn btn-danger"
                                        data-toggle="confirmation">
                                    <i class="fa fa-times"></i>
                                </a>
                                <a n:if="$allowPlan" n:href="Plan! $item->id"
                                        class="ajax tomodal btn btn-warning" data-toggle="modal"
                                        data-target="myModal">
                                    <i class="fa fa-calendar"></i>
                                </a>

                                <a n:if="$allowAddToCard" n:href="AddToCard! $item->id"
                                        class="ajax tomodal btn btn-success"
                                        data-toggle="modal" data-target="myModal">
                                    <i class="fa fa-plus"></i>
                                </a>

                                <a n:if="$allowMultiPills" n:href="MultiPills! $item->id"
                                        class="ajax tomodal btn btn-primary"
                                        data-toggle="modal" data-target="myModal">
                                    <i class="fa fa-plus-circle"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
        <script>
            update_filter();
        </script>
    {/snippet}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {snippet titleSnippet}
                            {if isset($showTitle) && $showTitle}
                                {$modalTitle}
                            {/if}
                        {/snippet}
                    </h4>
                </div>
                <div class="modal-body">
                    {snippet formSnippet}
                        {if isset($showPatientForm) && $showPatientForm}
                            <div style="margin-left: 25%">
                                {control patientForm}
                                <script language="javascript">
                                    rc_update();
                                    upravVelikost('small');
                                </script>
                            </div>
                        {/if}
                        {if isset($showMultiPillsForm) && $showMultiPillsForm}
                            {include 'components/multiPillsForm.latte'}
                        {/if}
                        {if isset($showPlanForm) && $showPlanForm}
                            {include 'components/planForm.latte'}
                        {/if}
                        {if (isset($addToCard) && $addToCard)}
                            {include 'components/cardForm.latte'}
                        {/if}

                        {if isset($showMedCard) && $showMedCard}
                            {include 'components/card.latte'}
                        {/if}
                    {/snippet}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>

{/block}