{block content}
    <div n:if="$user->isAllowed(Patient, [action => prescription, do=>changeBatchingRange, params=>'from,to'])" class="row">
        <div class=" col-md-4">
            <div class="input-group input-daterange">
                <span class="input-group-addon">Spočítat k datu </span>
                <input type="text" id="to" class="cursor-input from form-control" value="{$date|date:'%d.%m.%Y'}">
                <input type="hidden" id="to" class="from form-control"
                       value="none"> {* just to be able to use modifyLink*}
            </div>
        </div>

        <div class="col-md-4 moveLeft">
            <span class="huge"> jako </span>
            {*<a n:href="Api:History xls" onclick="modifyLink(this);" class="btn-primary btn">*}
            {*<span class=" fa fa-file-excel-o"></span> XLS*}
            {*</a>*}
            <a n:href="changeBatchingRange!" data-tmphref="{link changeBatchingRange!}" onclick="modifyLink(this);"
                                             class="ajax btn-success btn"><span class=" fa fa-table"></span> Web</a>
            <a n:if="$user->isAllowed(Api, [action => prescription])" href="{link Api:Prescription xls}?a=1"
                                                                      data-tmphref="{link Api:Prescription xls}?a=1"
                                                                      onclick="modifyLink(this, true);"
                                                                      class="btn btn-primary"><span
                        class=" fa fa-file-excel-o"></span> <b>XLS</b></a>
        </div>
    </div>
    {snippet listSnippet}
        {var $allowPills = $user->isAllowed(Patient, [action => prescription, do=>AddPills, params=>'id_usage'])}
        {var $allowBD = $user->isAllowed(Api, [action => patient, do => prescription, params => show_bd])}
        {var $allowIns = $user->isAllowed(Api, [action => patient, do => prescription, params => show_ins])}
        {var $allowRc = $user->isAllowed(Api, [action => patient, do => prescription, params => show_rc])}
        {var $classL = 9 }
        {php if($allowPills) $classL += 1}
        {php if($allowBD) $classL += 1 }
        {php if($allowIns) $classL += 1 }
        {php if($allowRc) $classL += 1 }

        <div class="contentDiv">
            <table id="myTable" data-name="prescription{$classL}"
                   class="table table-striped table-hover table-heading dataTable">
                <thead>
                <tr>
                    <th class="filter">Pacient</th>
                    <th class="filter">Oddělení</th>
                    <th class="filter">Lék</th>
                    <th class="filter">Odbornost</th>
                    <th class="range">Stav</th>
                    <th>Zbývá&nbsp;dnů</th>
                    <th>Datum vyčerpání</th>
                    <th>Denně</th>

                    <th class="help"
                        title="Počet tablet, které jsou potřebné, aby k tomuto datu byl stav na nule. Pokud je hodnota záporná, pak bude k tomuto datu přebytek, tedy není nutné nic dodávat.">
                        Doplnit do {$date|date:'%d.%m.%Y'}</th>

                    <th n:if="$allowBD">Datm narození</th>
                    <th n:if="$allowIns">Pojišťovna</th>
                    <th n:if="$allowRc">RČ</th>

                    <th n:if="$allowPills" >Akce</th>

                </tr>

                </thead>
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th n:if="$allowBD"></th>
                    <th n:if="$allowIns"></th>
                    <th n:if="$allowRc" ></th>
                    <th n:if="$allowPills" ></th>
                </tr>
                </tfoot>
                <tbody>
                {foreach $data as $item}
                    <tr class="{$item->state} {$item->getDangerousClass()}">
                        <td data-hello="bb">
                            {$item->getPatient()}
                        </td>
                        <td data-hello="bb">
                            {$item->getPatientDepartment()}
                        </td>
                        <td>
                            {$item->getMedicine()->name}
                        </td>
                        <td>
                            {$item->getSpeciality()}
                        </td>
                        <td data-order="{$item->getPills(false)}">
                            {$item->getPills(true)}
                        </td>
                        <td data-order="{$item->getRemainingDays(false)}">
                            <b>{$item->getRemainingDays()}</b>
                        </td>
                        <td>
                            {$item->getRemainingDate()}
                        </td>
                        <td>
                            {$item->getDailyUsage(true)}
                        </td>
                        <td>
                            {$item->getPrediction($date)}
                        </td>
                        <td  n:if="$allowBD" >
                            {$item->getPatientDate()}
                        </td>
                        <td  n:if="$allowIns" >
                            {$item->getPatientIns()}
                        </td>
                        <td  n:if="$allowRc" >
                            {$item->getPatientRc()}
                        </td>

                        <td  n:if="$allowPills" >
                            <a n:href="AddPills! $item->id" class="ajax tomodal btn-sm btn-success"
                                                            data-toggle="modal" data-target="myModal"><span
                                        class="fa fa-plus"></span></a>
                        </td>

                    </tr>
                {/foreach}
                </tbody>

            </table>
        </div>
        <script>
            update_filter(4, 'asc');

        </script>
        <script language="javascript">datepickerStart();</script>

    {/snippet}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {snippet titleSnippet}
                            {if isset($showTitle)}
                                {$modalTitle}
                            {/if}
                        {/snippet}
                    </h4>
                </div>
                <div class="modal-body">
                    {snippet formSnippet}
                    {if isset($showPillsForm)}
                        <table class="table table-striped table-hover">
                            <tr>
                                <td class="right">Pacient:</td>
                                <td><b>{$usage->getPatient()}</b></td>
                            </tr>
                            <tr>
                                <td class="right">Lék:</td>
                                <td><b>{$usage->getMedicine()->name}</b></td>
                            </tr>
                            <tr>
                                <td class="right">Stav:</td>
                                <td><b>{$usage->number}</b></td>
                            </tr>
                        </table>
                    {form pillsForm}
                        <table>
                            <tr>
                                <td rowspan="2" style="padding-right: 25px">
                                    Přidat do zásoby
                                </td>
                                <td><input type="radio" id="add_by_pills" name="add_by" value="pills">
                                <td><label for="add_by_pills">{input pills} tablet</label></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input id="add_by_pck" type="radio" name="add_by" checked="checked"
                                           value="pck"></td>

                                <td><label for="add_by_pck">{input pckgs} balení po</label></td>
                                <td>{input pcksize} tabletách</td>

                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2">{input send}</td>
                        </table>
                    {/form pillsForm}
                        {*<script>initNextOption();</script>*}
                    {/if}
                        <script>reinitClosing();</script>
                    {/snippet}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

                </div>
            </div>
        </div>
    </div>
{/block}