<!DOCTYPE html>
<html>
<head lang="cs">
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
	Dobrý den,<br><br>

dne <b>{$date|date:'%d.%m.%Y %H:%M:%S'}</b> byl vygenerován report stavů léků v celém systému. Soubor s reportem se nachází v příloze.
<br><br>
<table>
	<tr>
		<td>Datum reportu</td><td><b>{$date|date:'%d.%m.%Y %H:%M:%S'}</b></td>
	</tr>

</table><br>
<br>
Tým Lekynamiru.cz
</body>
</html>