<!DOCTYPE html>
<html>
<head lang="cs">
    <meta charset="UTF-8">
    <title>Změna medikační karty</title>
</head>
<body>
	Dobrý den,<br><br>

na serveru lekynamiru.cz došlo ke změně medikační karty od uživatele třetí strany.
<br><br>
<table>
	<tr>
		<td>Autor změny</td><td>{$user}</td>
	</tr>
	<tr>
		<td>Pacient</td><td>{$patient}</td>
	</tr>
	<tr>
		<td>Lék</td><td>{$medicine}</td>
	</tr>
	<tr>
		<td>Datum změny</td><td>{$date|date:'%d.%m.%Y %H:%M:%S'}</td>
	</tr>

</table><br>
<small>
Změněnou medikační kartu naleznete v příloze.
</small>
<br><br>
Tým Lekynamiru.cz
</body>
</html>