<!DOCTYPE html>
<html>
<head lang="cs">
    <meta charset="UTF-8">
    <title>DB report</title>
</head>
<body>
Byl zaslan report s DB pro den <b>{$msg}</b><br>
{*<b>{$msg}</b>*}
<br><br>
<br>
Tým Lekynamiru.cz
</body>
</html>