<!DOCTYPE html>
<html>
<head lang="cs">
    <meta charset="UTF-8">
    <title>Změna stavu pacienta na zesnulý</title>
</head>
<body>
	Dobrý den,<br><br>

na serveru lekynamiru.cz došlo k editaci pacienta. Pacient byl přesunut do sekce zesnulý. Zůstatek léků se nachází v příloze.
<br><br>
<table>
	<tr>
		<td>Autor změny</td><td>{$user}</td>
	</tr>
	<tr>
		<td>Pacient</td><td>{$patient}</td>
	</tr>

	<tr>
		<td>Datum změny</td><td>{$date|date:'%d.%m.%Y %H:%M:%S'}</td>
	</tr>

</table><br>
<small>
Zůstatek léků se nachází v příloze.
</small>
<br><br>
Tým Lekynamiru.cz
</body>
</html>