<!DOCTYPE html>
<html>
<head lang="cs">
    <meta charset="UTF-8">
    <title>Hlášení o chybě</title>
</head>
<body>
	Dobrý den,<br><br>

na serveru lekynamiru.cz došlo k chybě s následující zprávou <br>
<b>{$msg}</b>
<br><br>
<br>
Tým Lekynamiru.cz
</body>
</html>