<!DOCTYPE html>
<html>
<head lang="cs">
    <meta charset="UTF-8">
    <title>Obnova hesla</title>
</head>
<body>
	Dobrý den,<br><br>

na serveru <b><a href="{link //Homepage:}">lekynamiru.cz</a></b> Vám bylo obnoveno heslo do systému. Pro změnu hesla pokračujte na <a href="{link //Login:resetPass, $token}">zde</a>. <br><br>
<small>
Doporučujeme heslo o délce minimálně šesti znaků obsahující číslice i speciální znaky bez přímé návaznosti na Vaši osobu (tzn. datum narození nebo jména dětí apod.)
</small>
<br><br>
Tým Lekynamiru.cz
</body>
</html>