<!DOCTYPE html>
<html>
<head lang="cs">
    <meta charset="UTF-8">
    <title>úspěšná registrace</title>
</head>
<body>
	Dobrý den,<br><br>

na serveru <b><a href="{link //Homepage:}">lekynamiru.cz</a></b> Vám byl vytvořen pracovní účet pro práci v systému.
<br><br>
Pro vstup do systému si prosím zadejte Vaše heslo.
Byly vám vytvořeny následující údaje, které si samozřejmě můžete upravit
<table>
	<tr>
		<td>Přihlášení</td><td><a href="{link //Login:}">zde</a></td>
	</tr>
	<tr>
		<td>Přihlašovací email</td><td>{$email}</td>
	</tr>
	<tr>
		<td>Odkaz pro zadání hesla</td><td><a href="{link //Login:resetPass, $token}">zde</a></td>
	</tr>
</table><br>
<small>
Doporučujeme heslo o délce minimálně šesti znaků obsahující číslice i speciální znaky bez přímé návaznosti na Vaši osobu (tzn. datum narození nebo jména dětí apod.)
</small>
<br><br>
Tým Lekynamiru.cz
</body>
</html>