<!DOCTYPE html>
<html>
<head lang="cs">
	<meta charset="UTF-8">
	<title>Můžete zavřít objednávku</title>
</head>
<body>
Dobrý den,<br><br>

do objednávky <b>{$order->getFormattedName()}</b> byla přidána následující urgentní položka.
<br>
<ul>
	<li>{$item->getPatientName()} ({$item->getPatient()->getDepartment()})</li>
	<li>{$item->getMedicineName()}</li>
	<li>{$item->getAmount()}</li>
</ul>

<br>
Tým Lekynamiru.cz
</body>
</html>