<!DOCTYPE html>
<html>
<head lang="cs">
	<meta charset="UTF-8">
	<title>Můžete zavřít objednávku</title>
</head>
<body>
Dobrý den,<br><br>

objednávka <b>{$order->getFormattedName()}</b> byla <b>uzavřena</b>.

O položkách objednávky bylo rozhodnuto následovně
<table>
	<tr>
		<th style="border: 1px solid #b4b4b4; padding: 3px;">Pacient</th>
		<th style="border: 1px solid #b4b4b4; padding: 3px;">Umístění</th>
		<th style="border: 1px solid #b4b4b4; padding: 3px;">Přípravek</th>
		<th style="border: 1px solid #b4b4b4; padding: 3px;">Počet</th>
		<th style="border: 1px solid #b4b4b4; padding: 3px;">Status</th>
	</tr>
	{foreach $order->getOrderItems() as $item}
	<tr>
		<td style="border: 1px solid #b4b4b4; padding: 3px;">{$item->getPatientName()}</td>
		<td style="border: 1px solid #b4b4b4; padding: 3px;">{$item->getPatient()->getDepartment()}</td>
		<td style="border: 1px solid #b4b4b4; padding: 3px;">{$item->getMedicineName()}</td>
		<td style="border: 1px solid #b4b4b4; padding: 3px;">{$item->getAmount()}</td>
		<td style="border: 1px solid #b4b4b4; padding: 3px;">{$item->getFormattedState()}</td>
	</tr>
	{/foreach}
</table>
<br>
<br><br>
Tým Lekynamiru.cz
</body>
</html>