<!DOCTYPE html>
<html>
<head lang="cs">
	<meta charset="UTF-8">
	<title>Zaslání objednávky</title>
</head>
<body>
Dobrý den,<br><br>

Vaše objednávka {$order->getFormattedName()} byla odeslána.<br><br>
<b>
	{if $auto}
		Objednávka byla zaslána automaticky po vypršení časového limitu.
	{else}
		Objednávkua byla zaslána ručně.
	{/if}
</b>

<br>
<br>
<u>Položky</u>
<table style="border-collapse: collapse;">
	<tr>
		<th style="border: 1px solid #b4b4b4; padding: 3px;">Pacient</th>
		<th style="border: 1px solid #b4b4b4; padding: 3px;">Přípravek</th>
		<th style="border: 1px solid #b4b4b4; padding: 3px;">Počet</th>
		<th style="border: 1px solid #b4b4b4; padding: 3px;">Umístění</th>
	</tr>
	{foreach $order->getOrderItems() as $item}
	<tr>
		<td style="border: 1px solid #b4b4b4; padding: 3px;">{$item->getMedicineName()}</td>
		<td style="border: 1px solid #b4b4b4; padding: 3px;">{$item->getPatientName()}</td>
		<td style="border: 1px solid #b4b4b4; padding: 3px;">{$item->getAmount()}</td>
		<td style="border: 1px solid #b4b4b4; padding: 3px;">{if $item->isToPharmacy()}Lékárna{else}Domov{/if}</td>
	</tr>
	{/foreach}
</table>

<br>
<br><br>
Tým Lekynamiru.cz
</body>
</html>