<!DOCTYPE html>
<html>
<head lang="cs">
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
	Dobrý den,<br><br>

dne <b>{$date|date:'%d.%m.%Y %H:%M:%S'}</b> bylo provedeno naplánování změny stavu pacienta ze třetí strany
<br><br>
<table>
	<tr>
		<td>Datum reportu</td><td><b>{$date|date:'%d.%m.%Y %H:%M:%S'}</b></td>
	</tr>
<tr>
		<td>Autor operace</td><td><b>{$user}</b></td>
	</tr>
<tr>
		<td>Pacient</td><td><b>{$patient}</b></td>
	</tr>
<tr>
		<td>Datum změny</td><td><b>{$change_date}</b></td>
	</tr>

<tr>
		<td>Cílový stav</td><td><b>{$target}</b></td>
	</tr>

</table><br>
<br>
Tým Lekynamiru.cz
</body>
</html>