<!DOCTYPE html>
<html>
<head lang="cs">
    <meta charset="UTF-8">
    <title>Hlášení o úspěchu</title>
</head>
<body>
	Dobrý den,<br><br>

na serveru lekynamiru.cz se dokončila operace <br>
<b>{$msg}</b>
<br><br>
<br>
Tým Lekynamiru.cz
</body>
</html>