{block content}
<table  id="myTable" class="table table-striped table-hover table-heading dataTable" >
	<thead>
		<tr>
			<th>
				Odbornost
			</th>
			<th>
				Kontakt
			</th>
			<th>
				Report
			</th>
			<th>
				Auto
			</th>
			<th>
				Akce
			</th>
		</tr>
	</thead>
	<tbody>
	<tr n:foreach="$predikce as $item">
		<td>{$item->getSpeciality()}</td>
		<td>{$item->getUser()} - {$item->getUserMail()}</td>
		<td>
			<a n:href="Api:SpecialityReport, $item->brancheId, $item->id, 'response'" class="btn btn-primary btn-sm"><span class=" fa fa-file-excel"></span> <b>XLS</b>
			</a>
		</td>
		<td>{if $item->getUserSendreport()}<span class="fa fa-check success-color"></span> Ano{else}<span class="fa fa-times warning-color"></span> Ne{/if}</td>

		<td>
		{if $item->getUserMail() != "-"}
			<button data-url="{link Api:SpecialityReport, $item->brancheId, $item->id, 'mail'}" onclick="javascript:sendReport(this);" class="btn btn-info btn-sm"><span class=" fa fa-send"></span> <b>Odeslat</b>
			</button>
			{/if}
		</td>
	</tr>
	</tbody>
</table>

<script>update();</script>
{/block}