{block content}
    <a n:if="$user->isAllowed(Branche, [action => default, do=>ManageBranche])"  n:href="ManageBranche!"
            class="ajax tomodal btn btn-success" data-toggle="modal" data-target="myModal"><i
                class="fa fa-plus"></i> Přidat domov</a>
    <a n:if="$user->isAllowed(Api, [action => branche])" n:href="Api:Branche pdf" class="btn-primary btn"><span
                class=" fa fa-file-pdf-o"></span> PDF</a>
    <a n:if="$user->isAllowed(Api, [action => branche])" n:href="Api:Branche xls" class="btn-primary btn"><span
                class=" fa fa-file-excel-o"></span> XLS</a>

    {snippet listSnippet}
        <div n:foreach="$data as $item" class="row branche_row" id="row_{$item->id}">
            <div class="col-sm-2">
                <h3>{$item->name}</h3>
                <table class="table">
                    <tr>
                        <td>Vrchní sestra</td>
                        <td>
                            <ul style="padding-left: 5px;">
                            {foreach $item->getUsers() as $user_item } {* vypis zivatelu *}
                                <li><a n:href="User:profile $user_item->user->id">{$user_item->user->name}</a></li>
                            {/foreach}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Export</td>
                        <td>{$item->isToExport()|noescape}</td>
                    </tr>
                    <tr>
                        <td>Objednávky</td>
                        <td>{$item->ordersMarkup()|noescape}</td>
                    </tr>

                    <tr>
                        <td>Asociovaní uživatelé</td>
                        <td>
                            <ul style="padding-left: 5px;">
                                {foreach $item->getAssociatedUsers() as $user_item } {* vypis zivatelu *}
                                    <li><a n:href="User:profile $user_item->user->id">{$user_item->user->name}</a></li>
                                {/foreach}
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-5">
                <h4>Oddělení</h4>
                <table class="table table-hover table-striped">
                    <tr> {* pro kazdy domov zobraz oddeleni*}
                        <th>Název</th>
                        <th>Staniční sestra</th>
                        <th>Export</th>
                        <th n:if="$item->orders"><i class="fa fa-shopping-cart"></i></th>
                        <th n:if="$user->isAllowed(Branche, [action => default, do=>ManageDepartment, params=>'idBranche,idDepartment']) || $user->isAllowed(Branche, [action => default, do=>DelDepartment, params=>id])" >
                            Akce
                        </th>
                    </tr>
                    {foreach $item->getDepartments() as $dep}
                        <tr id="rowDep_{$dep[id]}">
                            <td>
                                {$dep[name]}
                            </td>
                            <td>
                                {if $dep[userid] == 0}
                                    {$dep[user]|noescape}
                                {else}
                                    <a n:href="User:profile $dep[userid]">{$dep[user]|noescape}</a>
                                {/if}
                            </td>
                            <td>
                                {if $dep[export]}<span class="fa fa-check"></span>{else}<span
                                        class="fa fa-times"></span>{/if}
                            </td>
                            <td n:if="$item->orders">
                                {if $dep[orders]}<span class="fa fa-check"></span>{else}<span
                                        class="fa fa-times"></span>{/if}
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a n:if="$user->isAllowed(Branche, [action => default, do=>ManageDepartment, params=>'idBranche,idDepartment'])" n:href="ManageDepartment! $item->id, $dep[id]"
                                            class="ajax tomodal btn btn-info" data-toggle="modal"
                                            data-target="myModal">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a n:if="$user->isAllowed(Branche, [action => default, do=>DelDepartment, params=>id])"
                                            id="dep{$dep[id]}" href="#" data-url="{link DelDepartment! $dep[id]}"
                                            data-href="javascript:delDep({$dep[id]})" class="ajax btn btn-danger"
                                            data-toggle="confirmation" data-placement="top"
                                    >
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {/foreach}
                </table>
            </div>

            <div class="col-sm-4">
                {if $item->orders}
                    <h4>Objednávky</h4>
                    <table class="table table-hover table-striped">
                        <tr>
                            <th colspan="2">Objednávka</th>
                            <th colspan="2">Doručení</th>
                            <th colspan="2">
                                <a n:if="$user->isAllowed(Branche, [action => default, do=>AddOrderSetting, params=>id])" n:href="AddOrderSetting! $item->id"
                                        class="ajax tomodal btn btn-success btn-sm" data-toggle="modal"
                                        data-target="myModal"><i class="fa fa-plus"></i> </a></th>
                        </tr>
                        <tr>
                            <th>Den</th>
                            <th><i class="fa fa-clock-o"></i></th>
                            <th>Den</th>
                            <th><i class="fa fa-clock-o"></i></th>
                            <th>Limit</th>
                            <th n:if="$user->isAllowed(Branche, [action => default, do=>AddOrderSetting, params=>'id,orderSettingId']) || $user->isAllowed(Branche, [action => default, do=>DelOrderSetting, params=>id])">
                                Akce
                            </th>
                        </tr>
                        {foreach $item->getOrderSettings() as $orderSettingItem}
                            <tr id="row__Order{$orderSettingItem->id}">
                                <td>{$orderSettingItem->getDayOrderName()}</td>
                                <td>{$orderSettingItem->_getHourOrder()}:00</td>
                                <td>{$orderSettingItem->getDayDeliveryName()}</td>
                                <td>{$orderSettingItem->_getHourDelivery()}:00</td>
                                <td>{$orderSettingItem->_getExtraLimit()}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a n:if="$user->isAllowed(Branche, [action => default, do=>AddOrderSetting, params=>'id,orderSettingId'])" n:href="AddOrderSetting! $item->id, $orderSettingItem->id"
                                                class="ajax tomodal btn btn-info" data-toggle="modal"
                                                data-target="myModal">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a n:if="$user->isAllowed(Branche, [action => default, do=>DelOrderSetting, params=>id])"
                                                id="del_Order{$orderSettingItem->id}" href="#"
                                                data-url="{link DelOrderSetting! $orderSettingItem->id}"
                                                data-href="javascript:del('_Order{$orderSettingItem->id}')"
                                                class="ajax btn btn-danger" data-toggle="confirmation"
                                        >
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {/foreach}
                    </table>
                {/if}
            </div>
            <div class="col-sm-1">
                <div class="btn-group-sm btn-group-vertical">
                    <a n:if="$user->isAllowed(Branche, [action => default, do=>ManageBranche, params=>id])" n:href="ManageBranche! $item->id"
                            class="ajax tomodal btn btn-info" data-toggle="modal"
                            data-target="myModal">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a n:if="$user->isAllowed(Branche, [action => default, do=>DelBranche, params=>id])"
                            id="del{$item->id}" href="#" data-url="{link DelBranche! $item->id}"
                            data-href="javascript:del({$item->id})" class="ajax btn btn-danger"
                            data-toggle="confirmation" data-placement="top" data-original-title="Opravdu smazat?"
                            title="">
                        <i class="fa fa-times"></i>
                    </a>
                    <a n:if="$user->isAllowed(Branche, [action => default, do=>ManageDepartment, params=>idBranche])"  n:href="ManageDepartment! $item->id"
                            class="ajax tomodal btn btn-success"
                            data-toggle="modal" data-target="myModal">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a n:if="$user->isAllowed(Branche, [action => default, do=>ManageSpec, params=>id])"  n:href="ManageSpec! $item->id"
                            class="ajax tomodal btn btn-warning" data-toggle="modal"
                            data-target="myModal">
                        <i class="fa fa-clock-o"></i>
                    </a>
                </div>
            </div>
        </div>
        <script>
            initModals();
            initConfirmation();
        </script>
    {/snippet}


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {snippet titleSnippet}
                            {if isset($showTitle)}
                                {$modalTitle}
                            {/if}
                        {/snippet}
                    </h4>
                </div>
                <div class="modal-body">
                    {snippet formSnippet}
                        {if isset($showDepartmentForm) && $showDepartmentForm}
                            {control departmentForm}
                        {/if}
                        {if isset($showBrancheForm) && $showBrancheForm}
                            {control form}
                            <script>$(".chosen-select").chosen();</script>
                        {/if}
                        {if isset($showOrderSettingForm)}
                            {if $showOrderSettingForm}
                                {form orderSettingForm}
                                    {input brancheId}
                                    {input orderSettingId}
                                        <h4><i class="fa fa-clock-o"></i> Uzavření objednávky</h4>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                {label dayOrder}
                                                {input dayOrder}
                                            </div>
                                            <div class="form-group col-md-6">{label hourOrder}{input hourOrder}</div>
                                        </div>
                                        <h4><i class="fa fa-truck"></i> Doručení objednávky</h4>

                                        <div class="row">
                                            <div class="form-group col-md-6">{label dayDelivery}{input dayDelivery}</div>
                                            <div class="form-group col-md-6">{label hourDelivery}{input hourDelivery}</div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">{label extraLimit}{input extraLimit}</div>
                                            <div class="form-group col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12 center">{input send}</div>
                                        </div>
                                {/form}
                            {else}
                                <script>closeModal();</script>
                            {/if}
                        {/if}

                        {if isset($showSpecForm) && $showSpecForm}
                            {form specForm}
                            {input brancheId}
                                <table class="specialities table table-striped">
                                    <tr>
                                        <th>Odbornost</th>
                                        <th>Dní</th>
                                        <th>Lékař</th>
                                    </tr>
                                    {foreach $predikce as $item}
                                        <tr>
                                            <td class="specility_name">
                                                {label 'days'.$item->id /}
                                            </td>
                                            <td class="specility_days">
                                                <div class="center">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" onclick="plus(this, 1)"
                                                                    data-target="days{$item->id}"
                                                                    class="btn btn-danger btn-number btn-sm" data-type="minus"
                                                                    data-field="quant[2]">
                                                                <span class="fa fa-minus"></span>
                                                            </button>
                                                        </span>
                                                        {input 'days'.$item->id}
                                                        <span class="input-group-btn">
                                                            <button type="button" onclick="plus(this, 1)"
                                                                    data-target="days{$item->id}"
                                                                    class="btn btn-success btn-number btn-sm" data-type="plus"
                                                                    data-field="quant[2]">
                                                                <span class="fa fa-plus"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="specility_select">
                                                {input 'user'.$item->id}
                                            </td>
                                        </tr>
                                    {/foreach}
                                </table>
                                {input send}
                            {/form specForm}
                        {/if}

                    {/snippet}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

                </div>
            </div>
        </div>
    </div>

{/block}