{block content}
<div class="row">
<div class=" col-md-4">
<div class="input-group input-daterange">
    <span class="input-group-addon">Zobrazit historii od</span>
    <input type="text" id="from" class="from form-control" value="{$fromXLS}">
    <span class="input-group-addon">do</span>
    <input type="text" id="to" class="to form-control" value="{$toXLS}">

</div>
</div>
	{var $canWeb = $user->isAllowed(Log, [action => default, do=>changeRange, params=>'from,to'])}
	{var $canXls = $user->isAllowed(Api, [action => history, params=>'from,to'])}
<div class="col-md-4 moveLeft" n:if="$canWeb || $canXls">
        <span class="huge"> jako </span> <a n:if="$canXls" n:href="Api:History xls" onclick="modifyLink(this);" class="btn-primary btn"><span class=" fa fa-file-excel-o"></span> XLS</a>
        <a n:if="$canWeb" n:href="changeRange!" data-tmphref="{link changeRange!}" onclick="modifyLink(this);" class="ajax btn-success btn"><span class=" fa fa-table"></span> Web</a>
</div>
</div>
{snippet logList}
<div class="contentDiv">
	<table id="myTable" data-name="history" class="table table-striped table-hover table-heading dataTable" >
	<thead>
	<tr>
		<th class="filter">Událost</th>
		<th>Autor události</th>
		<th class="filter">Domov</th>
		<th class="filter">Pacient</th>
		<th>Datum události</th>
		<th>Obsah události</th>
	</tr>
	</thead>
		<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		</tfoot>
	<tbody>
	<tr n:foreach="$data as $item" id="row_{$item->id}">
		<td>{$item->translate()}</td>
		<td>{if $item->userId != NULL}<a n:href="User:profile $item->getUser()->id">{$item->getUser()->name}</a>{else}<i>systém</i>{/if}</td>
		<td>{$item->getBranchName()}</td>
		<td>{$item->getPatientName()}</td>
		<td>{$item->date|date:'%d.%m.%Y %H:%M:%S'}</td>
		<td>{$item->dataTranslate()|noescape}</td>
	</tr>
	</tbody>

	</table>
	<script>
    update_filter();
    </script>

	<script language="javascript">datepickerStart();</script>
</div>
{/snippet}
{/block}