{block content}
    {snippet list}
        <table id="myTable" class="table table-striped table-hover table-heading dataTable">
            <thead>
            <tr>
                <th>Název</th>
                <th>Hodnota</th>
                <th n:if="$user->isAllowed(Log, [action => setting, do=>Edit, params=>id])">Editace</th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$data as $item">
                <td>{$item->key}</td>
                <td>{$item->value}</td>
                <td n:if="$user->isAllowed(Log, [action => setting, do=>Edit, params=>id])"><a n:href="Edit! $item->id"
                            class="ajax tomodal btn btn-info" data-toggle="modal"
                            data-target="myModal">Editovat</a></td>
            </tr>
            </tbody>
        </table>
    {/snippet}


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {snippet titleSnippet}
                            {if isset($showTitle)}
                                {$modalTitle}
                            {/if}
                        {/snippet}
                    </h4>
                </div>
                <div class="modal-body">
                    {snippet formSnippet}
                        {if isset($showForm)}
                            {control form}
                        {/if}

                    {/snippet}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

                </div>
            </div>
        </div>
    </div>
{/block}