{block content}
    {*<table id="myTable" class="table table-striped table-hover table-heading dataTable">*}
        {*<thead>*}
        {*<tr>*}
            {*<th>Název</th>*}
            {*<th>Presenter</th>*}
            {*<th>Akce</th>*}
            {*<th>Parametry</th>*}
        {*</tr>*}
        {*</thead>*}
        {*<tbody>*}
        {*<tr n:foreach="$data as $item" id="row_{$item->id}">*}
            {*<td>{$item->name}</td>*}
            {*<td>{$item->presenter}</td>*}
            {*<td>{$item->action}</td>*}
            {*<td>{$item->params}</td>*}

        {*</tr>*}
        {*</tbody>*}
    {*</table>*}
    {*<script>*}
        {*update();*}
    {*</script>*}
    <div id="tree" data-url="{$basePath}/permission/get-permission-data"></div>
    <script>
        initPermissionTree();
    </script>
{/block}