{block content}
    <a n:if="$user->isAllowed(Role, [action => default, do=>ManageRole])" n:href="ManageRole!" class="ajax tomodal btn btn-success" data-toggle="modal" data-target="myModal"><i
                class="fa fa-plus"></i> Přidat roli</a>

    {snippet listOfRoles}
        {var $allowEdit = $user->isAllowed(Role, [action => default, do=>ManageRole, params=>id])}
        {var $allowDel = $user->isAllowed(Role, [action => default, do=>DelRole, params=>id])}
        {var $allowSetPerms = $user->isAllowed(Role, [action => permissions, params=>id])}
        {var $allowAction = $allowEdit || $allowDel || $allowSetPerms}

        <table id="myTable" class="table table-striped table-hover table-heading dataTable">
            <thead>
            <tr>
                <th>Název</th>
                <th>Popis</th>
                <th>Zasílat notifikace</th>
                <th n:if="$allowAction">Akce</th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$data as $item" id="row_{$item->id}">
                <td>{$item->name}</td>
                <td>{$item->description}</td>
                <td><span title="Po změně dat touto rolí se zasílají notifikace">{if $item->sendNotifications}ANO{else}NE{/if}</span></td>
                <td n:if="$allowAction">
                    <div class="btn-group btn-group-sm">
                        <a n:if="$allowEdit" n:href="ManageRole! $item->id" class="ajax tomodal btn btn-info" data-toggle="modal"
                                                          data-target="myModal">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a n:if="$allowSetPerms" n:href="Role:permissions $item->id" class="btn btn-warning">
                            <i class="fa fa-key"></i>
                        </a>
                        <a n:if="$allowDel" id="del{$item->id}" href="#" data-url="{link DelRole! $item->id}"
                           data-href="javascript:del({$item->id})" class="ajax btn btn-danger"
                           data-toggle="confirmation" data-placement="top" data-original-title="Opravdu smazat?"
                           title="">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <script>
            update();
        </script>
    {/snippet}


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {snippet titleSnippet}
                            {if isset($showTitle)}
                                {$modalTitle}
                            {/if}
                        {/snippet}
                    </h4>
                </div>
                <div class="modal-body">
                    {snippet roleFormSnippet}
                        {if isset($showForm)}
                            {control roleForm}
                            <script>updateChosen();</script>
                        {/if}

                    {/snippet}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

                </div>
            </div>
        </div>
    </div>
{/block}