{block content}
    <a href="#" onclick='saveTreeData()' class="ajax tomodal btn btn-success" data-toggle="modal" data-target="myModal"><i
                class="fa fa-save"></i> Uložit oprávnění</a>

    <div style="margin-top: 30px;"  id="tree" data-url="{$basePath}/role/permissions-for-role/{$roleId}"  data-saveurl="{$basePath}/role/save-permission/{$roleId}"></div>
    <script>initPermissionTree();</script>


    <div id="flashes" class="custom">
        <div class="alert alert-success  .alert-dismissible" style="opacity: 1000; display: none;">
            Lék byl uložen!
        </div>
    </div>
{/block}