{block content}
    <a n:href="ManageUser!" n:if="$user->isAllowed(User, [action => default, do=>ManageUser])"
            class="ajax tomodal btn btn-success" data-toggle="modal" data-target="myModal"><i
                class="fa fa-plus"></i> Přidat uživatele</a>
    {snippet listSnippet}

        {var $allowEdit = $user->isAllowed(User, [action => default, do=>ManageUser, params=>id])}
        {var $allowDel = $user->isAllowed(User, [action => default, do=>DelUser, params=>id])}
        {var $allowAction = $allowEdit || $allowDel || $allowSetPerms}

        <table id="myTable" class="table table-striped table-hover table-heading dataTable">
            <thead>
            <tr>
                <th>Jméno</th>
                <th>Email</th>
                <th>Role</th>
                <th n:if="$allowAction">Akce</th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$data as $item" id="row_{$item->id}">
                <td>{$item->name}</td>
                <td>{$item->email}</td>
                <td>{$item->getUserNameRole()}  <span n:if="$item->isSuperAdmin()"> - Superadmin </span></td>
                <td n:if="$allowAction">
                    <div class="btn-group btn-group-sm">
                        <a n:if="$allowEdit" n:href="ManageUser! $item->id" class="ajax tomodal btn btn-info" data-toggle="modal"
                                                                data-target="myModal">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a n:if="$allowDel" id="del{$item->id}" href="#" data-url="{link DelUser! $item->id}"
                                            data-href="javascript:del({$item->id})" class="ajax btn btn-danger"
                                            data-toggle="confirmation">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <script>
            update();
        </script>
    {/snippet}


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {snippet titleSnippet}
                            {if isset($showTitle)}
                                {$modalTitle}
                            {/if}
                        {/snippet}
                    </h4>
                </div>
                <div class="modal-body">
                    {snippet registerFormSnippet}
                        {if isset($showRegisterForm)}
                            {control regForm}
                        {/if}

                    {/snippet}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

                </div>
            </div>
        </div>
    </div>

{/block}