{block content}
<h2>Osobní profil</h2>
{snippet listSnippet}
	<table class="table table-stripped right-th">
		<tr>
			<th>
				Jméno a příjmení
			</th>
			<td>
				{$user->name}
			</td>
		</tr>
		<tr>
			<th>
				Email
			</th>
			<td>
				{$user->email}
			</td>
		</tr>
		<tr>
			<th>
				Role
			</th>
			<td>
				{$user->getUserType()}
				{foreach $user->getUserPlaces() as $place}
				<br> - {$place}
				{/foreach}
			</td>
		</tr>
		<tr>
			<th>
				Zasílat reporty
			</th>
			<td>
				{$user->sendReportsTpl()|noescape}
			</td>
		</tr>
		{if $showButton}
		<tr>
			<td></td>
			<td><a n:href="ManageUser!" class="ajax tomodal btn btn-success" data-toggle="modal" data-target="myModal" ><i class="fa fa-plus"></i> Editovat</a></td>
		</tr>
		{/if}
		</table>
<script>
update();
</script>
{/snippet}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">
			{snippet titleSnippet}
			  {if isset($showTitle)}
				{$modalTitle}
			  {/if}
			{/snippet}
		</h4>
	  </div>
	  <div class="modal-body">
	  {snippet registerFormSnippet}
		  {if isset($showRegisterForm)}
			{control regForm}
		{/if}

	  {/snippet}
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>

	  </div>
	</div>
  </div>
</div>

{/block}