<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Medikační karta -
        <b>{$patient->firstName} {$patient->lastName}</b>
        <a  n:if="$user->isAllowed(Api, [action => m-k])" n:href="Api:MK, $patient->id, pdf"
                class="btn btn-primary btn-sm"><span
                    class=" fa fa-file-pdf-o"></span> <b>PDF</b></a>
        <a  n:if="$user->isAllowed(Api, [action => m-k])" n:href="Api:MK, $patient->id, xls"
                class="btn btn-primary btn-sm"><span
                    class=" fa fa-file-excel-o"></span> <b>XLS</b></a>

    </div>

    <!-- Table -->
    <table class="table  table-hover table-heading table-card">
        <thead>
        <tr>
            <th class="medCardLeft">Lék</th>
            <th>Pondělí</th>
            <th>Úterý</th>
            <th>Středa</th>
            <th>Čtvrtek</th>
            <th>Pátek</th>
            <th>Sobota</th>
            <th>Neděle</th>
        </tr>
        </thead>
        <tbody>


        {foreach $specialities as $specialityK => $speciality}

            <tr>
                <td colspan="8"><b>{$speciality[speciality]->name}</b></td>
            </tr>
            {foreach $speciality[usages] as $usage}
                <tr class="row_{$usage->id} firstRow">
                    <td class="medCardLeft   {if $usage->getMedicine()->dangerous}dangerous{/if}"><span
                                data-toggle="tooltip"
                                title="Stav: <b>{$usage->number}</b> tablet<br> Vyprší za <b>{$usage->getRemainingDays()}</b><br><b>{$usage->getRemainingDate()}</b>"
                                data-html="true">
<span class="fa fa-question pointer"></span>
                            {$usage->getMedicine()->name}</span>

                            <span style="float:right">
										<a n:if="$user->isAllowed(Patient, [action => default, do=>AddToCard, params=>'id,id_card'])" n:href="AddToCard! $patient->id, $usage->id" class="ajax tomodal"
                                                                                        data-toggle="modal"
                                                                                        data-target="myModal"><span
                                                    class="fa fa-edit"></span></a>

										<a n:if="$user->isAllowed(Patient, [action => default, do=>DelUsage, params=>id_usage])" id="delClass{$usage->id}" href="#" data-url="{link DelUsage! $usage->id}"
                                           data-href="javascript:delClass({$usage->id})" class="ajax pointer"
                                           data-toggle="confirmation"><span
                                                    class="fa fa-times"></span></a>
										</span>
                    </td>
                    <td n:foreach="$usage->getWeek() as $day" class="davka">

                        <table class="davkaTable">
                            <tr>
                                <td>
                                    {if $day->morning != 0}
                                        <b>
                                            {if round($day->morning,3) == 0.33}
                                                <big>&frac13;</big>
                                            {elseif $day->morning == 0.25}
                                                <big>&frac14;</big>
                                            {elseif $day->morning == 0.5}
                                                <big>&frac12;</big>
                                            {elseif $day->morning == 0.75}
                                                <big>&frac34;</big>
                                            {elseif round($day->morning,3) == 0.66}
                                                <big>&frac23;</big>
                                            {else}{round($day->morning,2)}
                                            {/if}
                                        </b>
                                    {else}{$day->morning}{/if}
                                </td>
                                <td>
                                    {if $day->noon != 0}
                                        <b>
                                            {if round($day->noon,3) == 0.33}
                                                <big>&frac13;</big>
                                            {elseif $day->noon == 0.25}
                                                <big>&frac14;</big>
                                            {elseif $day->noon == 0.5}
                                                <big>&frac12;</big>
                                            {elseif $day->noon == 0.75}
                                                <big>&frac34;</big>
                                            {elseif round($day->noon,3) == 0.66}
                                                <big>&frac23;</big>
                                            {else}{round($day->noon,2)}
                                            {/if}
                                        </b>
                                    {else}{$day->noon}{/if}
                                </td>
                                <td>
                                    {if $day->evening != 0}
                                        <b>
                                            {if round($day->evening,3) == 0.33}
                                                <big>&frac13;</big>
                                            {elseif $day->evening == 0.25}
                                                <big>&frac14;</big>
                                            {elseif $day->evening == 0.5}
                                                <big>&frac12;</big>
                                            {elseif $day->evening == 0.75}
                                                <big>&frac34;</big>
                                            {elseif round($day->evening,3) == 0.66}
                                                <big>&frac23;</big>
                                            {else}{round($day->evening,2)}
                                            {/if}
                                        </b>
                                    {else}{$day->evening}{/if}
                                </td>
                                <td>
                                    {if $day->night != 0}
                                        <b>
                                            {if round($day->night,3) == 0.33}
                                                <big>&frac13;</big>
                                            {elseif $day->night == 0.25}
                                                <big>&frac14;</big>
                                            {elseif $day->night == 0.5}
                                                <big>&frac12;</big>
                                            {elseif $day->night == 0.75}
                                                <big>&frac34;</big>
                                            {elseif round($day->night,3) == 0.66}
                                                <big>&frac23;</big>
                                            {else}{round($day->night,2)}
                                            {/if}
                                        </b>
                                    {else}{$day->night}{/if}
                                </td>
                            </tr>
                        </table>

                    </td>
                    <td class="isWeekActive">{if (!$usage->showTwoWeeks && $usage->weeks <= 2) || $usage->activeWeek == first}
                            <span class="fa fa-arrow-left activeWeek"></span>{else}1{/if}
                    </td>
                </tr>
                {if $usage->showTwoWeeks || $usage->weeks > 2}
                    {for $i = 1; $i< $usage->weeks;$i++}
                        <tr class="medCardSecondWeek row_{$usage->id}">
                            <td class="medCardLeft"></td>
                            <td n:foreach="$usage->getActiveWeekData(0, false, $i)->data as $day"
                                    class="davka">
                                <table class="davkaTable">
                                    <tr>
                                        <td>
                                            {if $day->morning != 0}
                                                <b>
                                                    {if $day->morning == 0.33}
                                                        <big>&frac13;</big>
                                                    {elseif $day->morning == 0.25}
                                                        <big>&frac14;</big>
                                                    {elseif $day->morning == 0.5}
                                                        <big>&frac12;</big>
                                                    {elseif $day->morning == 0.75}
                                                        <big>&frac34;</big>
                                                    {elseif $day->morning == 0.66}
                                                        <big>&frac23;</big>
                                                    {else}{$day->morning}
                                                    {/if}
                                                </b>
                                            {else}{$day->morning}{/if}
                                        </td>
                                        <td>
                                            {if $day->noon != 0}
                                                <b>
                                                    {if $day->noon == 0.33}
                                                        <big>&frac13;</big>
                                                    {elseif $day->noon == 0.25}
                                                        <big>&frac14;</big>
                                                    {elseif $day->noon == 0.5}
                                                        <big>&frac12;</big>
                                                    {elseif $day->noon == 0.75}
                                                        <big>&frac34;</big>
                                                    {elseif $day->noon == 0.66}
                                                        <big>&frac23;</big>
                                                    {else}{$day->noon}
                                                    {/if}
                                                </b>
                                            {else}{$day->noon}{/if}
                                        </td>
                                        <td>
                                            {if $day->evening != 0}
                                                <b>
                                                    {if $day->evening == 0.33}
                                                        <big>&frac13;</big>
                                                    {elseif $day->evening == 0.25}
                                                        <big>&frac14;</big>
                                                    {elseif $day->evening == 0.5}
                                                        <big>&frac12;</big>
                                                    {elseif $day->evening == 0.75}
                                                        <big>&frac34;</big>
                                                    {elseif $day->evening == 0.66}
                                                        <big>&frac23;</big>
                                                    {else}{$day->evening}
                                                    {/if}
                                                </b>
                                            {else}{$day->evening}{/if}
                                        </td>
                                        <td>
                                            {if $day->night != 0}
                                                <b>
                                                    {if $day->night == 0.33}
                                                        <big>&frac13;</big>
                                                    {elseif $day->night == 0.25}
                                                        <big>&frac14;</big>
                                                    {elseif $day->night == 0.5}
                                                        <big>&frac12;</big>
                                                    {elseif $day->night == 0.75}
                                                        <big>&frac34;</big>
                                                    {elseif $day->night == 0.66}
                                                        <big>&frac23;</big>
                                                    {else}{$day->night}
                                                    {/if}
                                                </b>
                                            {else}{$day->night}{/if}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="isWeekActive">{if $usage->getActiveWeekNumber() == $i}
                                    <span class="fa fa-arrow-left activeWeek"></span>{else}{$i+1}{/if}
                            </td>
                        </tr>
                    {/for}
                {/if}
            {/foreach}
        {/foreach}

        {if $showSums}
            {foreach $sumUsages as $sumUsage}
                <tr>
                    <td><b>{$sumUsage->translateWeekOffset()}</b></td>
                </tr>
                {foreach $parts as $partXK =>$partXV}
                    <tr>
                        <td class="medCardLeft">{$partXV}</td>
                        {foreach $sumUsage->data as $dayV}
                            <td class="davka">
                                <table class="davkaTable">
                                    <tr>
                                        {foreach $dayV as $partK => $partV}
                                            <td>{$partV[$partXK]}</td>
                                        {/foreach}
                                    </tr>
                                </table>
                            </td>
                        {/foreach}
                    </tr>
                {/foreach}
            {/foreach}
        {/if}
        </tbody>
    </table>
</div>
{if $user->isAllowed(Patient, [action => default, do=>ShowCard, params=>"id,mc_id"])}
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Datum</th>
            <th>Autor</th>
            <th>Komentář</th>
            <th></th>
        </tr>
        {foreach $mc_cards as $card}
            <tr {if $card->id == $revize}class="this-revision"{/if}>
                <td>{$card->revision_number}</td>
                <td>{$card->date|date:'%d.%m.%Y %H:%M:%S'}</td>
                <td>{$card->user->name}</td>
                <td>{$card->comment|noescape}</td>
                <td><a n:href="ShowCard! $patient->id, $card->id"
                            class="ajax tomodal" data-toggle="modal"
                            data-target="myModal">
                        <button class="btn  {if $card->id == $revize}btn-primary{else}btn-default{/if} btn-xs">
                            <span class="fa fa-search"></span></button>
                    </a></td>
            </tr>
        {/foreach}

    </table>
{/if}
<script>upravVelikost('big');</script>
{if $showCardManualy}
    <script>$(".modal").modal("show");</script>
{/if}