{form cardForm}
    <div id="addToCardMulti">

        <table class="addToCardTable">
            <tr>
                <td class="left">Týdnů</td>
                <td colspan="2">
                    {input weeks}
                </td>
            </tr>
            <tr>
                <td class="left">Akt. týden</td>
                <td colspan="2">
                    {input activeWeekSelect}
                    <div id="activeWeekAlert" class="alert user-alert user-warning"
                         role="alert">
                        Aktivní týden bude resetován na první týden cyklu.
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">Lék</td>
                <td colspan="2" class="medicine-select-td">
                    {input medicineSelect}
                </td>
            </tr>
            <tr>
                <td class="left">
                    {if $user->isAllowed(Patient, ['action'=>'default','do' => 'changeNumber',  'params' => 'changeNumber'])}
                    Počáteční stav<span data-toggle="tooltip"
                                        class="pointer fa fa-question"
                                        title="Zadejte číslo oddělené desetinnou <b>tečkou</b>.<br> Například <b>2.5</b>"
                                        data-html="true"></span>
                    {/if}
                </td>
                <td class="right">
                    {if $user->isAllowed(Patient, ['action'=>'default','do' => 'changeNumber',  'params' => 'changeNumber'])}
                        {input stav}
                    {/if}
                <td style="text-align: center">
                    <div class="list-group list-group-horizontal vyber-kopirovani"
                         id="velikostidavky" data-velikostidavky="ctvrtiny">

                        <a href="javascript:velikostidavky('ctvrtiny')"
                           class="list-group-item active ctvrtiny velikostidavky">čtrtky</a>
                        <a href="javascript:velikostidavky('tretiny')"
                           class="list-group-item velikostidavky tretiny">třetiny</a>

                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">Kopírovat na</td>
                <td class="right" colspan="2">
                    <div class="list-group list-group-horizontal vyber-kopirovani"
                         id="kopirovani" data-kopirovani="all">
                        <a href="javascript:changeSD('all')"
                           class="list-group-item active all kopirovani">všechny
                            dny</a>
                        <a href="javascript:changeSD('sl')"
                           class="list-group-item kopirovani sl">sudý/lichý den</a>
                        <a href="javascript:changeSD('weeks')"
                           class="list-group-item kopirovani weeks">duplikovat
                            týdny</a>
                        <a href="javascript:changeSD('none')"
                           class="list-group-item kopirovani none">nekopírovat</a>
                    </div>

                </td>

            </tr>
            <tr>
                <td class="left">
                    Komentář:
                </td>
                <td class="right">
                    {input comment}
                </td>
            <tr>
                <td class="left">Zobrazit:</td>
                <td class="right" colspan="2">
                    <ul class="nav nav-tabs tydny">
                        <li id="prvni_tab" class="active"><a class="tyden"
                                                             href="javascript:changeWeek('prvni')">1
                                týden</a></li>
                        <li id="druhy_tab"><a class="tyden"
                                              href="javascript:changeWeek('druhy')">všechny</a>
                        </li>
                    </ul>

                    <div id="help" class="alert user-alert user-info" role="alert">
                        Data se duplikují do všech řádků a týdnů.
                    </div>
                </td>
            </tr>

        </table>

        {foreach $tydny as $tydenK => $tydenV}

            <h4 class="{$tydenV[class]}">{$tydenV[name]}</h4>
            <table class="leky_table {$tydenV[class]}">
                <tr>
                    <th>Den</th>
                    <th>Ráno</th>
                    <th>Poledne</th>
                    <th>Večer</th>
                    <th>Noc</th>
                </tr>
                <tr n:foreach="$dny as $den_key => $den_value">
                    <td>{$den_value}</td>

                    <td n:foreach="$davky as $davka">
                        <div class="center">
                            <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" onclick="plus(this, 0); return false;"
                                                data-target="{$den_key}0{$davka}0{$tydenK}"
                                                class="btn btn-danger btn-number btn-sm" data-type="minus"
                                                data-field="quant[2]">
                                            <span class="fa fa-minus"></span>
                                        </button>
                                    </span>
                                {input $den_key.'0'.$davka.'0'.$tydenK}
                                <span class="input-group-btn">
                                        <button type="button" onclick="plus(this, 0); return false;"
                                                data-target="{$den_key}0{$davka}0{$tydenK}"
                                                class="btn btn-success btn-number btn-sm" data-type="plus"
                                                data-field="quant[2]">
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        {/foreach}


        <div class="center">
            {input showTwoWeeks}
            {input send}
        </div>
    </div>
{/form cardForm}
<script>updateChosen();</script>
<script>adjustActiveWeek();</script>
<script>upravVelikost('small');</script>
<script>reinitClosing();</script>