<h3>Pacient: <strong>{$patient->getFullName()}</strong></h3>
<h4>RČ: <strong>{$patient->rc}</strong></h4>
<script>upravVelikost('big');</script>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">

        {form multiPillsForm}
            {input id_patient}
            <table class="table-striped table-hover">
                <tr>
                    <th></th>
                    <th>Lék</th>
                    <th>Stav</th>
                    <th>Přidat</th>
                </tr>
                {foreach $form[pills]->getComponents() as $id => $component}
                    <tr>
                        <td class="multiPillsFormTd">
                            Přidat do zásoby
                        </td>
                        <td class="multiPillsFormTd">
                            {input $component[medicine_name]}
                        </td>
                        <td>
                            {input $component[number]}
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <input type="radio" id="{$id}add_by_pills"
                                               name="{$id}add_by" value="pills">
                                        <label for="{$id}add_by_pills">{input $component[pills]}
                                            tablet</label>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <input id="{$id}add_by_pck" type="radio"
                                               name="{$id}add_by"
                                               checked="checked" value="pck">
                                        <label for="{$id}add_by_pck">{input $component[pckgs]}
                                            balení po</label>{input $component[pcksize]}
                                        tabletách
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {/foreach}
            </table>
            {input submit}
        {/form}
    </div>
</div>
<script>reinitClosing();</script>