<h3>Naplánované změny</h3>
{if count($plans) > 0}
    <table class="table table-striped table-hover">
        {foreach $plans as $plan}
            <tr id="row_xx{$plan->id}">
                <td style="padding: 5px 15px">dne
                    <b>{$plan->date|date:'%d.%m.%Y'}</b></td>
                <td> změnit na</td>
                <td>
                    {if $plan->target == sleeping}
                        <button class="btn btn-warning btn-sm">Pasivní</button>
                    {elseif $plan->target == stop}
                        <button class="btn btn-danger btn-sm">Pozastaveno</button>
                    {elseif $plan->target == dead}
                        <button class="btn btn-default btn-sm">Zesnulý</button>
                    {else}
                        <button class="btn btn-success btn-sm">Aktivní</button>
                    {/if}
                </td>
                <td>
                    <a id="delxx{$plan->id}" href="#"
                       data-url="{link DelPlan! $plan->id}"
                       data-href="javascript:del('xx{$plan->id}')"
                       class="ajax btn btn-sm btn-danger" data-toggle="confirmation"
                      >
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        {/foreach}
    </table>
{else}
    Tento pacienta nemá naplánované žádné změny
{/if}
<h3>Nový plán</h3>
{control planForm}
<script n:syntax="off" language="javascript">
    $('.datepicker').datepicker({language: 'cs', todayHighlight: true, startDate: new Date()});
    $( ".modal" ).scroll(function() {
        $('.datepicker').datepicker('place')
    });
</script>
<script>upravVelikost('small');</script>