{block content}
	<link href="{$basePath}/css/timeline.css?{$suffix}" rel="stylesheet">

	{snippet header}
		<ul class="nav nav-tabs">
			<li role="presentation" {if $selectedBrancheID == 0 && !$archived}class="active"{/if}>
				<a n:href="Order:default 0">Všechny domovy</a></li>
			{foreach $branches as $branche}
				<li role="presentation" {if $selectedBrancheID == $branche->id} class="active"{/if}>
					<a n:href="Order:default $branche->id">{$branche->name}</a></li>
			{/foreach}
			<li role="presentation" class="archivedOrders{if $archived} active{/if}">
				<a n:href="Order:default 0, true"> <i class="fa fa-archive"></i> Archiv</a></li>
			<li role="presentation" class="archivedOrders">
				<a n:href="Api:orderStats"> <i class="fa fa-pie-chart"></i> Statistika</a></li>
		</ul>

		<div class="row filter-row">
			<div class="col-md-1 filter-markup">
				<i class="fa fa-sliders"></i> Filtr
			</div>
			<div class="col-md-3"> {* filters *}
				{if isset($archived) && $archived}
					<input type="hidden" id="isArchived" value="true">

					<div class="btn-group order-filter order-filter-hidden">
						<input type="checkbox" checked="checked" value="sent" class="filter-button-checkbox" id="checkbox-sent">
						<label class="btn btn-default first-label" for="">
							<span><i class="fa fa-minus"></i> Odeslaná</span>
						</label>
						<input type="checkbox" checked="checked" value="closed" class="filter-button-checkbox" id="checkbox-closed">
						<label class="btn btn-default" for="">
							<span><i class="fa fa-minus"></i> Uzavřená</span>
						</label>
					</div>
				{else}
					<div class="btn-group order-filter">
					<input type="checkbox" checked="checked" value="sent" class="filter-button-checkbox" id="checkbox-sent">
					<label class="btn btn-warning first-label" for="checkbox-sent">

						<span><i class="fa fa-check-square-o"></i> Odeslaná</span>
					</label>

					<input type="checkbox" value="closed" checked="checked" class="filter-button-checkbox" id="checkbox-closed">
					<label class="btn btn-success" for="checkbox-closed">
						<span><i class="fa fa-check-square-o"></i> Uzavřená</span>
					</label>
				</div>
				{/if}
			</div>
			<div class="col-md-2"> {* extra *}
				<div class="order-filter">
					<input type="checkbox" value="extra" checked="checked" class="filter-button-checkbox filter-button-checkbox-extra" id="checkbox-extra">
					<label class="btn btn-danger" for="checkbox-extra">
						<span><i class="fa fa-check-square-o"></i> Extra</span>
					</label>
				</div>
			</div>

			<div class="col-md-2"> {* expand / collapse all *}
				<div class="order-filter">
					<div class="btn-group">
						<button class="btn btn-info" id="collapseAll" title="Sbalit všechny objednávky" onclick="collapseAll();">
							<i class="fa fa-chevron-circle-up"></i>
						</button>

						<button class="btn btn-info" title="Rozbalit všechny objednávky" id="expandAll" onclick="expandAll();">
							<i class="fa fa-chevron-circle-down"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	{/snippet}

	{snippet list}
		{if count($orders) == 0}
			<h3>:( Žádné objednávky pro {$selectedBrancheTitle|noescape}</h3>
		{/if}
		{foreach $orders as $order}
			<div class="row order orderHasItems order_{$order->_getState()} {if $order->isIsExtra()}extraOrder order_extra{/if}">
				<div class="col-sm-12">
					<div class="row orderHeader">
						<div class="col-sm-3">
						<span class="orderName">
							{if $order}
								{$order->getStatusLabel()|noescape}
							{/if}
						</span>

						</div>
						<div class="col-sm-5">
						<span class="orderDate">
							<i class="fa fa-hospital-o" title="Domov"> </i>
							{$order->getBranche()->getFullName()}
						</span>
							<span class="orderDate">
							<i class="fa fa-clock-o" title="Termín pro uzavření objednávky"> </i>
								{$order->_getClosingDate()|date:'%d. %m. %H:%M'}
						</span>
							<span class="orderDate">
							<i class="fa fa-truck" title="Plánované doručení objednávky"></i>
								{$order->getDeliveryDateTimeFormatted()|noescape}
						</span>
						</div>
						<div class="col-sm-4 text-right">
							<a n:href="OrderFile! $order->_getId()"  n:if="$order->hasFiles() && $user->isAllowed(Order, [action => default, do => SummarizeOrder, params=>orderId])"
									class="ajax tomodal btn btn-info" data-toggle="modal"
									data-target="myModal" title="Soubory">
								<i class="fa fa-file"></i></a>
							{if $order->canBeClosed()}
								<a n:href="ChangeOrderStateOpenDialog! $order->_getId(), close"
										class="ajax tomodal btn btn-success" data-toggle="modal"
										data-target="myModal">
									<i class="fa fa-lock"></i> Uzavřít
								</a>
							{elseif ($order->isClosed() and $order->canBeMarkedAsSent())}
								<a n:href="ChangeOrderStateOpenDialog! $order->_getId(), open"
										class="ajax tomodal btn btn-warning" data-toggle="modal"
										data-target="myModal">
									<i class="fa fa-unlock"></i> Otevřít
								</a>
							{/if}

							{if $order->isClosed()}
								<a n:href="ChangeOrderStateOpenDialog! $order->_getId(), archive"
										class="ajax tomodal btn btn-default" data-toggle="modal"
										data-target="myModal" title="Archivovat">
									<i class="fa fa-archive"></i>
								</a>
							{/if}
							{if $order->isClosed() ||  $order->isArchived()}
								<a n:href="Api:Delivery $order->_getId()" class="btn btn-primary" title=" Dodací list">
									<i class="fa fa-file-text-o" ></i>
								</a>
							{/if}
						</div>
					</div>

					<div class="row orderBody">
						{var $items = $order->getOrderItems()}
						{if count($items)>=3}
							<div class="expand-area">
								<div class="expand-overlay" id="expand-overlay{$order->_getId()}">
								</div>

								<span class="expand-label">
								<button id='expandButton{$order->_getId()}' class="expand-button btn-xs  btn btn-default" href="#" onclick="expandOrder(this, {$order->_getId()})">
								<span> <i class="fa fa-angle-down"></i> Zobrazit vše </span>
								<span> | Celkem položek: {count($items)}</span>
									</button>


								<button id='collapseButton{$order->_getId()}' onclick="collapseOrder(this, {$order->_getId()})" class="btn btn-default btn-xs collapse-button">
								<span> <i class="fa fa-angle-up"></i> Skrýt </span>
									</button>
							</span>
							</div>
						{/if}
						<table id='order{$order->_getId()}'  class="table table-striped table-hover table-smaller table-order-items">
							<tr>
								<th>Jméno</th>
								<th>Lék</th>
								<th>Množství</th>
								<th>Doručení</th>
								<th>Akce</th>
							</tr>
							<tr n:foreach="$order->getOrderItems() as $item" id="row_{$item->_getId()}">
								<td>{if $item->_isUrgent()} <i title="Urgentní položka"
								                               class="urgent-help fa fa-bolt danger-color"></i> {/if}{$item->getPatientName()}
								</td>
								<td>
									{if $item->isCustomMedicine()}
										<i title="Vlastní přípravek" class="fa fa-pencil-square"></i>
									{else}
										<i title="Přípravek ze systému" class="fa fa-list-alt"></i>
									{/if}
									{$item->getMedicineName()}</td>
								<td>{$item->getAmount()}</td>
								<td>{if $item->isToPharmacy()}Lékárna{else}Domov{/if}</td>
								<td>

									<span class="orderItemStateButton">
									{if $order->isArchived()}
										{if $item->isWaiting()}
											<button class="btn btn-xs btn-default">
												<i class="fa fa-hourglass"></i> Vyřídit
											</button>
										{elseif $item->isChanged()}
											<button class="btn btn-xs btn-info">
												<i class="fa fa-exchange"></i> Zaměněno
											</button>
										{elseif $item->isCanceled()}
											<button class="btn btn-xs btn-danger">
												<i class="fa fa-ban"></i> Odmítnuto
											</button>
										{elseif $item->isPostponed()}
											<button class="btn btn-xs btn-warning" >
												<i class="fa fa-sign-out"></i> Přesunuto
											</button>
										{elseif $item->isApproved()}
											<button class="btn btn-xs btn-success">
												<i class="fa fa-check"></i> Schváleno
											</button>
										{/if}
									{else}
										{if $item->isWaiting()}
											<a n:href="ProceedOrderItem! $item->_getId()"
													class="ajax tomodal btn btn-xs btn-default" data-toggle="modal"
													data-target="myModal">
												<i class="fa fa-hourglass"></i> Vyřídit
											</a>
										{elseif $item->isChanged()}
											<a n:href="ProceedOrderItem! $item->_getId(), change"
													class="ajax tomodal btn btn-xs btn-info" data-toggle="modal"
													data-target="myModal">
												<i class="fa fa-exchange"></i> Zaměněno
											</a>
										{elseif $item->isCanceled()}
											<a n:href="ProceedOrderItem! $item->_getId(), cancel"
													class="ajax tomodal btn btn-xs btn-danger" data-toggle="modal"
													data-target="myModal">
												<i class="fa fa-ban"></i> Odmítnuto
											</a>
										{elseif $item->isPostponed()}
											<button class="btn btn-xs btn-warning" >
												<i class="fa fa-sign-out"></i> Přesunuto
											</button>
										{elseif $item->isApproved()}
											<a n:href="ProceedOrderItem! $item->_getId(), approve"
													class="ajax tomodal btn btn-xs btn-success" data-toggle="modal"
													data-target="myModal">
												<i class="fa fa-check"></i> Schváleno
											</a>
										{/if}
									{/if}


									</span>
									{var $changes = $item->getChanges()}
									{if count($changes) > 0}
										<a n:href="ShowChanges! $item->_getId()"
												class="ajax tomodal" data-toggle="modal"
												data-target="myModal">
											<i class="fa fa-clock-o"></i>
										</a>
									{/if}
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

		{/foreach}
		<script>
            initModals();
            initExpandButtons();
            {if isset($archived) && $archived}
            initArchivedFilterButtons();
            {else}
            initOrderFilterButtons();
            {/if}
		</script>
	{/snippet}


	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">
						{snippet titleSnippet}
							{if isset($showTitle)}
								{$modalTitle}
							{/if}
						{/snippet}
					</h4>
				</div>
				<div class="modal-body">
				{snippet formSnippet}
				{if isset($orderFile)}
					<div class="">
						<h2>Vložené soubory</h2>
						<table class="table table-striped">
							<thead>
							<tr>
								<th>Titulek</th>
								<th>Soubor</th>
								<th>Datum</th>
							</tr>
							</thead>
							<tbody>

							<tr n:foreach="$orderFiles as $item" id="row_file{$item->id}">
								<td>
									{$item->title}
								</td>
								<td>
									<a href="{link Api:orderFile $item->id}">{$item->filename}</a>
								</td>
								<td>{$item->date|date:'%d. %m. %Y %H:%M'}</td>

							</tr>

							</tbody>
						</table>

					</div>
				{/if}
					{if isset($proceedOrderItemForm) && $proceedOrderItemForm}
						<ul class="nav nav-tabs">
							<li role="presentation" {if $operation == approve}class="active"{/if}>
								<a n:href="ProceedOrderItem! $orderItemObj->_getId(), approve"
										class="ajax"> <span class="fa fa-check btn btn-xs btn-success"></span> Schválit</a>
							</li>
							<li role="presentation" {if $operation == change}class="active"{/if}>
								<a n:href="ProceedOrderItem! $orderItemObj->_getId(), change"
										class="ajax"><span class="fa fa-exchange btn btn-xs btn-info"></span> Zaměnit</a>
							</li>
							<li role="presentation" {if $operation == cancel}class="active"{/if}>
								<a n:href="ProceedOrderItem! $orderItemObj->_getId(), cancel"
										class="ajax"><span class="fa fa-ban btn btn-xs btn-danger"></span> Odmítnout</a>
							</li>
							<li role="presentation" {if $operation == postpone}class="active"{/if}>
								<a n:href="ProceedOrderItem! $orderItemObj->_getId(), postpone"
										class="ajax"><span class="fa fa-sign-out btn btn-xs btn-warning"></span> Přesunout</a>
							</li>
						</ul>

						<div class="row">
							<div class="col-sm-12">
								{if $operation == approve}
									<h3>Schválit položku?</h3>

									<div class="flex-center btn-group">
										<a n:href="ApproveOrderItem! $orderItemObj->_getId()"
												type="button"
										        class="ajax btn btn-success closing"
												data-dismiss="modal">
											<i class="fa fa-check"></i> Schválit
										</a>
										<button type="button" class="btn btn-danger" data-dismiss="modal">
											<i class="fa fa-times-circle-o"></i>
											NE, zrušit
										</button>
									</div>

								{elseif $operation == change}
									<h3  id="system"
									     data-url="{link Api:GetPackagesForMedicine}">Zaměnit položku</h3>
									{control changeOrderItemForm}
									<script>updateChosen();</script>
									<script>changePackages();</script>
								{elseif $operation == postpone}
									<h3>Přesunout položku</h3>
									{control postponeOrderItemForm}
									<script>
										// rendering the radio list items with color and border regarding the status of the order
										renderLabels();
									</script>
								{elseif $operation == cancel}
									<h3>Odmítnout položku</h3>
									{control cancelOrderItemForm}
								{/if}
							</div>
						</div>
					{/if}
					{if isset($showClosingForm) && $showClosingForm}
						{form closeOrderForm}
							{input order_id}
							<h3>Opravdu chcete objednávku uzavřít?</h3>
							<div class="form-group">
								{label delivery_date}
								{input delivery_date}
								{input startDateInput}

							</div>
							<div class="flex-center btn-group">
								{label submit}
								{input submit}
								{input canDeliverOnWeekend}
								<button type="button" class="btn btn-danger" data-dismiss="modal">
									<i class="fa fa-times-circle-o"></i>
									NE, zrušit
								</button>
							</div>
							<script n:syntax=off
									language="javascript">
                                $.fn.datepicker.dates['cs'] = {
                                    days: ["Neděle", "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek", "Sobota"],
                                    daysShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                                    daysMin: ["Ne", "Po", "Ut", "St", "Čt", "Pá", "So"],
                                    months: ["Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec"],
                                    monthsShort: ["Led", "Únr", "Bře", "Dub", "Kvě", "Čer", "Čvc", "Srp", "Zář", "Říj", "Lis", "Pro"],
                                    today: "Dnes",
                                    clear: "Clear",
                                    weekStart: 1
                                };

								$('.datepicker').datepicker({
									language: 'cs',
									daysOfWeekDisabled: ($(".canDeliverOnWeekend").val() === 'true' ? '' : '06'),
									weekStart: 1,
									format: 'dd/mm/yyyy',
                                    startDate: $(".startDateInput").val()
									});</script>
						{/form}
					{/if}
					{if isset($showOpenCloseDialog) && $showOpenCloseDialog}

					{if $dialogAction == open}
						<h3>Opravdu chcete objednávku otevřít?</h3>

						<div class="flex-center btn-group">
							<a n:href="ChangeOrderState! $orderObj->_getId(), sent" type="button"
							                                                        class="ajax btn btn-success closing"
							                                                        data-dismiss="modal">
								<i class="fa fa-unlock"></i> ANO, otevřít
							</a>
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								<i class="fa fa-times-circle-o"></i>
								NE, zrušit
							</button>
						</div>
					{elseif $dialogAction == close}
						<h3>Opravdu chcete objednávku uzavřít?</h3>

						<div class="flex-center btn-group">
							<a n:href="ChangeOrderState! $orderObj->_getId(), closed" type="button"
							                                                          class="ajax btn btn-success closing"
							                                                          data-dismiss="modal">
								<i class="fa fa-lock"></i> ANO, uzavřít
							</a>
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								<i class="fa fa-times-circle-o"></i>
								NE, zrušit
							</button>
						</div>
					{elseif $dialogAction == archive}
						<h3>Opravdu chcete objednávku archivovat?</h3>

						<div class="flex-center btn-group">
							<a n:href="ChangeOrderState! $orderObj->_getId(), archived" type="button"
							                                                            class="ajax btn btn-success closing"
							                                                            data-dismiss="modal">
								<i class="fa fa-archive"></i> ANO, archivovat
							</a>
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								<i class="fa fa-times-circle-o"></i>
								NE, zrušit
							</button>
						</div>
					{/if}
					{/if}

					{if isset($showChanges) and $showChanges}
					<div class="container">
						<ul class="timeline">
						{foreach $changes as $change}
							{$change->printChange()|noescape}
						{/foreach}
						</ul>
					</div>
					{/if}
					<script>
                        initModals();
					</script>
					{/snippet}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
				</div>
			</div>
		</div>
	</div>
	<script>
        $.nette.load();
        $('[data-toggle="confirmation"]').confirmation();
	</script>

	<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">
						Nápověda
					</h4>
				</div>
				<div class="modal-body">
					{$help|noescape}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
				</div>
			</div>
		</div>
	</div>
	<script>upravVelikost('medium');</script>
{/block}