{block js}
{/block}

{block css}
    <link href="{$basePath}/css/timeline.css?{$suffix}" rel="stylesheet">
{/block}

{block content}
    <div class="row">
        <div class="col-md-1 filter-markup">
            <i class="fa fa-sliders"></i> Filtr
        </div>
        <div class="col-md-5"> {* filters *}
            <div class="btn-group order-filter">

                <input type="checkbox" value="empty" checked="checked" class="filter-button-checkbox"
                       id="checkbox-empty">
                <label class="btn btn-default first-label" for="checkbox-empty">
                    <span> <i class="fa fa-check-square-o"></i> Neotevřená</span>
                </label>


                <input type="checkbox" value="new" checked="checked" class="filter-button-checkbox" id="checkbox-new">
                <label class="btn btn-info" for="checkbox-new">
                    <span> <i class="fa fa-check-square-o"></i> Nová</span>
                </label>

                <input type="checkbox" checked="checked" value="sent" class="filter-button-checkbox" id="checkbox-sent">
                <label class="btn btn-warning" for="checkbox-sent">

                    <span><i class="fa fa-check-square-o"></i> Odeslaná</span>
                </label>

                <input type="checkbox" value="closed" checked="checked" class="filter-button-checkbox"
                       id="checkbox-closed">
                <label class="btn btn-success" for="checkbox-closed">
                    <span><i class="fa fa-check-square-o"></i> Uzavřená</span>
                </label>
            </div>

        </div>
        <div class="col-md-2"> {* extra *}
            <div class="order-filter">
                <input type="checkbox" value="extra" checked="checked" class="filter-button-checkbox"
                       id="checkbox-extra">
                <label class="btn btn-danger" for="checkbox-extra">
                    <span><i class="fa fa-check-square-o"></i> Extra</span>
                </label>
            </div>
        </div>
        <div class="col-md-2"> {* expand / collapse all *}
            <div class="order-filter">
                <div class="btn-group">
                    <button class="btn btn-info" id="collapseAll" title="Sbalit všechny objednávky"
                            onclick="collapseAll();">
                        <i class="fa fa-chevron-circle-up"></i>
                    </button>

                    <button class="btn btn-info" title="Rozbalit všechny objednávky" id="expandAll"
                            onclick="expandAll();">
                        <i class="fa fa-chevron-circle-down"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-2 text-right"> {* add extra btn *}
            <a n:href="ExtraOrderOpenDialog!" n:if="$user->isAllowed(Order, [action => default, do => ExtraOrderOpenDialog])"
                    class="ajax tomodal btn btn-danger"
                    data-toggle="modal"
                    data-target="myModal">
                <i class="fa fa-exclamation-triangle"></i> EXTRA objednávka
            </a>
        </div>
    </div>

    {snippet list}
        {if count($slots) == 0}
            <h3>:( Žádné možné objednávky</h3>
        {/if}
        {* tady je mozne pustit do vypisu archivane*}
        {foreach $slots as $slotKey => $slot}

            {continueIf $slot[order] && $slot[order]->isArchived()}
            <div class="row order
{if $slot[order]}
	{if $slot[order]->isIsExtra()} extraOrder order_extra {/if}
	orderHasItems order_{$slot[order]->_getState()}
{else}
	orderNoItems order_empty
{/if}"

                    {if $slot[order] and $slot[order]->isIsExtra()}
                id="row__extra_order{$slot[order]->_getId()}"
                    {/if}>
                <div class="col-sm-12">
                    <div class="row orderHeader">
                        <div class="col-sm-3">
							<span class="orderName">
								{if $slot[order]}
                                    {$slot[order]->getStatusLabel()|noescape}
                                {else}
                                    Objednávka {$slot[orderDateTime]|date:'%d/%m/%Y'}
                                {/if}
							</span>
                        </div>
                        <div class="col-sm-5">
							<span class="orderDate">
								<i class="fa fa-clock-o" title="Termín pro uzavření objednávky"> </i>
                                {if $slot[order]}
                                    <span id="closeOrderDatTime{$slot[order]->_getId()}"
                                          data-url="{link CloseOrder! $slot[order]->_getId()}"></span>
                                    {$slot[order]->getOrderTimeTemplate()|noescape}
                                {else}
                                    {$slot[orderDateTime]|date:'%d. %m. %Y %H:%M'}
                                {/if}
							</span>
                            {if $slot[order]}
                                <span class="orderDate">
										<i class="fa fa-home" title="Plánované doručení objednávky"></i>
                                    {$slot[order]->getDeliveryDateTimeFormatted()|noescape}
									</span>
                            {/if}
                        </div>
                        <div class="col-sm-4 text-right">

                            {* first pair Urgent - odeslat *}
                            {if $slot[order]}
                                {if $slot[order]->isSent() and  $slot[order]->canAddUrgent() and $user->isAllowed(Order, [action => default, do => ManageOrderItem, params=>'orderId,orderItemId,dateTime,urgent'])}
                                    <a n:href="ManageOrderItem! $slot[order]->id, 0 , $slotKey, true"
                                            class="ajax tomodal btn btn-danger" data-toggle="modal"
                                            data-target="myModal">
                                        <i class="fa fa-bolt"></i> Urgentní přidání
                                    </a>
                                    <span class="urgent-info">
										do {$slot[order]->getClosingDateWithLimit()|date:'%d. %m. %Y %H:%M'}
									</span>
                                {elseif  $slot[order]->isNew()}
                                    <a n:href="OrderFile! $slot[order]->id"  n:if="$user->isAllowed(Order, [action => default, do => SummarizeOrder, params=>orderId])"
                                            class="ajax tomodal btn btn-info" data-toggle="modal"
                                            data-target="myModal">
                                        <i class="fa fa-file"></i> soubory </a>
                                    <a n:href="SummarizeOrder! $slot[order]->id"  n:if="$user->isAllowed(Order, [action => default, do => SummarizeOrder, params=>orderId])"
                                            class="ajax tomodal btn btn-warning" data-toggle="modal"
                                            data-target="myModal">
                                        <i class="fa fa-paper-plane"></i> Odeslat </a>
                                {/if}

                                {if $slot[order]->isIsExtra() and $slot[order]->isNew() && $user->isAllowed(Order, [action => default, do => DelExtraOrder, params=>orderId])}
                                    <a id="del_extra_order{$slot[order]->_getId()}" href="#"
                                       data-url="{link DelExtraOrder! $slot[order]->_getId()}"
                                       data-href="javascript:del('_extra_order{$slot[order]->_getId()}')"
                                       class="ajax btn btn-danger"
                                       data-toggle="confirmation">
                                        <i class="fa fa-times"></i>
                                    </a>
                                {/if}
                            {/if}

                            {* second pair přidat-začít *}
                            {if $slot[order]}
                                {if $slot[order]->isNew() and $user->isAllowed(Order, [action => default, do => ManageOrderItem, params=>'orderId,orderItemId,dateTime'])}
                                    <a n:href="ManageOrderItem! $slot[order]->id, 0 , $slotKey"
                                            class="ajax tomodal btn btn-success" data-toggle="modal"
                                            data-target="myModal">
                                        <i class="fa fa-plus"></i> Přidat</a>
                                {/if}
                            {else}
                                <a n:href="ManageOrderItem! 0, 0, $slotKey" n:if="$user->isAllowed(Order, [action => default, do => ManageOrderItem, params=>'orderId,orderItemId,dateTime'])"
                                        class="ajax tomodal btn btn-default" data-toggle="modal"
                                        data-target="myModal">
                                    <i class="fa fa-plus"></i> Začít objednávku
                                </a>
                            {/if}

                        </div>
                    </div>
                    {if $slot[order]}
                        <div class="row orderBody">
                            {var $items = $slot[order]->getOrderItems()}
                            {if count($items)>=3}
                                <div class="expand-area">
                                    <div class="expand-overlay" id="expand-overlay{$slot[order]->_getId()}">
                                    </div>

                                    <span class="expand-label">
								<button id='expandButton{$slot[order]->_getId()}'
                                        class="expand-button btn-xs  btn btn-default" href="#"
                                        onclick="expandOrder(this, {$slot[order]->_getId()})">
								<span> <i class="fa fa-angle-down"></i> Zobrazit vše </span>
								<span> | Celkem položek: {count($items)}</span>
									</button>


								<button id='collapseButton{$slot[order]->_getId()}'
                                        onclick="collapseOrder(this, {$slot[order]->_getId()})"
                                        class="btn btn-default btn-xs collapse-button">
								<span> <i class="fa fa-angle-up"></i> Skrýt </span>
									</button>
							</span>
                                </div>
                            {/if}
                            <table id='order{$slot[order]->_getId()}'
                                   class="table table-striped table-hover table-smaller table-order-items">
                                <tr>
                                    <th>Jméno</th>
                                    <th>Lék</th>
                                    <th>Množství</th>
                                    <th>Doručení</th>
                                    <th>{if $slot[order]->isNew()}Akce{else}Status{/if}</th>
                                </tr>
                                <tr n:foreach="$items as $item" id="row_{$item->_getId()}">
                                    <td>{if $item->_isUrgent()} <i title="Urgentní položka"
                                                                   class="urgent-help fa fa-bolt danger-color"></i> {/if}{$item->getPatientName()}
                                    </td>
                                    <td>
                                        {if $item->isCustomMedicine()}
                                            <i title="Vlastní přípravek" class="fa fa-pencil-square"></i>
                                        {else}
                                            <i title="Přípravek ze systému" class="fa fa-list-alt"></i>
                                        {/if}
                                        {$item->getMedicineName()}</td>
                                    <td>{$item->getAmount()}</td>
                                    <td>{if $item->isToPharmacy()}Lékárna{else}  Domov{/if}</td>
                                    <td>
                                        {if $slot[order]->isNew() && !$item->wasPostponed()}
                                            {if $item->canUserEdit($user)}  {* to be able to edit only my patients *}
                                                <div class="btn-group">
                                                    <a n:href="ManageOrderItem! $slot[order]->id, $item->_getId() , $slotKey"
                                                            n:if="$user->isAllowed(Order, [action => default, do => ManageOrderItem, params=>'orderId,orderItemId,dateTime'])"
                                                            class="ajax tomodal btn btn-xs  btn btn-info"
                                                            data-toggle="modal"
                                                            data-target="myModal">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a id="del{$item->_getId()}" href="#"
                                                            n:if="$user->isAllowed(Order, [action => default, do => DelOrderItem, params=>orderItemId])"
                                                       data-url="{link DelOrderItem! $item->_getId()}"
                                                       data-href="javascript:del({$item->_getId()})"
                                                       class="ajax btn btn-xs  btn btn-danger"
                                                       data-toggle="confirmation" data-placement="top"
                                                    >
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            {/if}
                                        {else}
                                            <span class="orderItemStateButton">
											{if $item->isWaiting()}
                                                <button class="btn-xs btn btn-default"><i class="fa fa-hourglass"></i>
													Čeká
												</button>
											{elseif $item->isChanged()}






                                                <button class="btn-xs btn btn-info"><i class="fa fa-exchange"></i>
													Zaměněno
												</button>
											{elseif $item->isCanceled()}






                                                <button class="btn-xs btn btn-danger"><i class="fa fa-ban"></i> Odmítnuto
												</button>
											{elseif $item->isPostponed()}






                                                <button class="btn-xs btn btn-warning"><i class="fa fa-calendar"></i>
													Přesunuto
												</button>
											{elseif $item->isApproved()}






                                                <button class="btn-xs btn btn-success"><i class="fa fa-check"></i>
													Schváleno
												</button>
                                            {/if}
											</span>


                                        {var $changes = $item->getChanges()}
                                            {if count($changes) > 0}
                                                <a n:href="ShowChanges! $item->_getId()"
                                                        n:if="$user->isAllowed(Order, [action => default, do => ShowChanges, params=>orderItemId])"
                                                        class="ajax tomodal" data-toggle="modal"
                                                        data-target="myModal">
                                                    <i class="fa fa-clock-o"></i>
                                                </a>
                                            {/if}
                                        {/if}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {/if}
                </div>
            </div>
        {/foreach}
        <script>
            initModals();
            initExpandButtons();
            initOrderFilterButtons();
        </script>
    {/snippet}
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        Nápověda
                    </h4>
                </div>
                <div class="modal-body">
                    {$help|noescape}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>
    <script>upravVelikost('medium');</script>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {snippet titleSnippet}
                            {if isset($showTitle)}
                                {$modalTitle}
                            {/if}
                        {/snippet}
                    </h4>
                </div>
                <div class="modal-body">
                    {snippet formSnippet}
                    {if isset($showChanges) and $showChanges}
                        <div class="container">
                            <ul class="timeline">
                                {foreach $changes as $change}
                                    {$change->printChange()|noescape}
                                {/foreach}
                            </ul>
                        </div>
                    {/if}
                    {if isset($orderFile)}
                        <div class="">
                            <h2>Vložené soubory</h2>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Titulek</th>
                                    <th>Soubor</th>
                                    <th>Datum</th>
                                    <th>Smazat</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr n:foreach="$orderFiles as $item" id="row_file{$item->id}">
                                    <td>
                                       {$item->title}
                                    </td>
                                    <td>
                                        <a href="{link Api:orderFile $item->id}">{$item->filename}</a>
                                    </td>
                                    <td>{$item->date|date:'%d. %m. %Y %H:%M'}</td>
                                    <td>
                                        <a n:if="$user->isAllowed(Order, [action => default, do=>DelOrderFile, params=>orderFileId])"
                                                id="delfile{$item->id}" data-url="{link DelOrderFile! $item->id}"
                                                data-href="javascript:del('file{$item->id}')"
                                                class="ajax btn btn-danger"
                                                data-toggle="confirmation">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                            <script>initConfirmation();</script>
                            <h2>Nový soubor</h2>

                            {control orderFileForm}

                        </div>
                    {/if}
                    {if isset($showOrderItemForm)}
                    {form orderItemForm}
                        {* flashes in the modal *}
                    {snippet flashModal}
                    {if isset($modalFlashes)}
                        <div n:foreach="$modalFlashes as $flash" class="alert alert-{$flash->type}  .alert-dismissible">
                            {$flash->message}
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <script>
                            $(".alert").hide();
                            $(".alert").fadeIn("slow");
                            window.setTimeout(function () {
                                $(".alert").fadeOut("slow");
                            }, 3000);
                        </script>
                    {/if}

                    {/snippet}


                    {input customOrSystem}
                    {input urgent}
                    {input orderId}
                    {input orderItemId}
                        <div class="form-group">
                            {label patient}
                            {input patient}
                        </div>
                        <div class="form-group">
                            {label medicine}

                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#system" data-toggle="tab" id="tabMarkup_system"
                                       onclick="setCustomSystemOrderItem('system')"> <i class="fa fa-list-ul"></i>
                                        Vybrat ze seznamu</a>
                                </li>
                                <li><a href="#custom" data-toggle="tab" id="tabMarkup_custom"
                                       onclick="setCustomSystemOrderItem('custom')"><i class="fa fa-plus"></i>
                                        Vlastní</a>
                                </li>
                            </ul>

                            <div class="tab-content ">
                                <div class="tab-pane active orderMedicine" id="system"
                                     data-url="{link Api:GetPackagesForMedicine}">
                                    <div class="form-group">
                                        {label medicine}
                                        {input medicine}
                                    </div>
                                    <div class="form-group">

                                        Počet balení: {input medicinePackageNumber}
                                        Velikost balení: {input medicinePackageChose}
                                    </div>
                                </div>
                                <div class="tab-pane orderMedicine" id="custom">
                                    <div class="form-group">
                                        {label customMedicine}
                                        {input customMedicine}
                                    </div>
                                    <div class="form-group ">
                                        {label customMedicineAmount}
                                        {input customMedicineAmount}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {label orderHash}
                            <div class="radio">
                                {input orderHash}
                            </div>
                        </div>
                        <div class="form-group">
                            {label targetDelivery}
                            <div class="radio">
                                {input targetDelivery}
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <div>
                                {label send}
                                {input send}

                                {label sendAndAdd}
                                {input sendAndAdd}
                            </div>
                        </div>

                    {/form}


                        <script>updateChosen();</script>
                        <script>renderOrderSlots();</script>
                        <script>changePackages();</script>
                        <script>setActiveMedicineSource();</script>
                        <!--<script language="javascript">$('.datepicker').datepicker();</script>-->
                    {/if}
                    {if isset($showSummaryDialog)}
                        <h3>Rekapitulace objednávky</h3>
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>Jméno</th>
                                <th>Lék</th>
                                <th>Množství</th>
                            </tr>
                            <tr n:foreach="$order->getOrderItems() as $item">
                                <td>{$item->getPatientName()}</td>
                                <td>{$item->getMedicineName()}</td>
                                <td>{$item->getAmount()}</td>
                            </tr>
                        </table>

                        <table class="table">
                            <tr>
                                <td class="text-right">Datum odeslání:</td>
                                <th>{$orderDate|date:'%d. %m. %Y %H:%M'}</th>
                            </tr>
                            <tr>
                                <td class="text-right">Datum očekávaního doručení:</td>
                                <th>{$deliveryDate|date:'%d. %m. %Y %H:%M'}</th>
                            </tr>
                        </table>


                        <h4> Jste si jist(a) odesláním objednávky?</h4>
                        <div class="flex-center btn-group">

                            <a
                                    n:href="SendOrder $order->_getId(), $order->isIsExtra()"

                                    type="button" class="btn btn-success"
                            >
                                <i class="fa fa-send-o"></i>
                                ANO, odeslat
                            </a>

                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                <i class="fa fa-times-circle-o"></i>
                                NE, zrušit
                            </button>
                        </div>
                    {/if}
                    {if (isset($showExtraOrderDialog) && $showExtraOrderDialog)}
                        <h3>Opravdu chcete vytvořit EXTRA objednávku?</h3>

                        <div class="flex-center btn-group">
                            <a n:href="CreateExtraOrder!" type="button"
                                                          class="ajax btn btn-success closing"
                                                          data-dismiss="modal">
                                <i class="fa fa-lock"></i> ANO, vytvořit
                            </a>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                <i class="fa fa-times-circle-o"></i>
                                NE, zrušit
                            </button>
                        </div>
                    {/if}
                        <script>
                            initModals();
                        </script>
                    {/snippet}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $.nette.load();
        initConfirmation();
    </script>
    <script src="{$basePath}/vendor/jquery-countdown/dist/jquery.countdown.min.js?{$suffix}"></script>

    <script>
        initCountdown();
    </script>

    <script>upravVelikost('medium');</script>

{/block}

