<h1>Vítejte v nápovědě modulu objednávek!</h1>

<h2>Pojmy</h2>
<ul>
	<li><b>Objednávka</b> - sada položek; má svůj životní cyklus od započatí až po doručení</li>
	<li><b>Slot</b> - plánovaná a pravidelná časová okna pro příjem objednávky následné doručení. Například každý čtvrtek do 14:00 je možné zasílat objednávku, která je pak v pátek doručena do 12:00.</li>
	<li><b>Položka</b> - součástí objednávky, definuje přípravek, pacienta, velikost a způsob doručení</li>
	<li><b>Urgentní položka</b> - Položka, která je přidána do objednávky po jejím odeslání</li>
	<li><b>Extra objednávka</b> - Objednávka, která je mimo plánované sloty</li>
</ul>
<h2>Zobrazení objednávky</h2>
Objednávka je reprezentována následující tabulkou s informacemi
<img src="{$basePath}/images/orderHelp/order.png" alt="objednávka" style="width: 100%">

<h2>Životní cyklus objednávky</h2>
<img src="{$basePath}/images/orderHelp/order_lifecycle.png" alt="objednávka" style="width: 100%">


<h2>Atributy položek</h2>
<img src="{$basePath}/images/orderHelp/items_attributes.png" alt="objednávka" style="width: 100%">

