{* render of one single change*}
{var $msg = ""}
{var $btn = ""}
{if $change->_getType() == canceled}
	{var $btn = '<button class="btn btn-danger btn-xs"><i class="fa fa-ban"></i> Odmítnuto</button>'}
	{var $msg = ''}
	{var $tit = 'Odmítnuto'}
{elseif $change->_getType() == postponed_to}
	{var $btn = '<button class="btn btn-warning btn-xs"><i class="fa fa-sign-in"></i> Přesunuto do</button>'}
	{var $tit = "Přesunuto z {$change->getOrderFrom()} sem"}
	{var $msg = "Přesunuto z {$change->getOrderFrom()} do této objednávky<br><span>Předchozí historii hledejte v dané objednávce</span><br>"}
{elseif $change->_getType() == postponed_from}
	{var $msg = "Přesunuto z této objednávky do {$change->getOrderTo()}<br><span>Další historii hledejte v dané objednávce</span><br>"}
	{var $btn = '<button class="btn btn-warning btn-xs"><i class="fa fa-sign-out"></i> Přesunuto z</button>'}
	{var $tit = "Přesunuto z této objednávky do {$change->getOrderTo()}"}
{elseif $change->_getType() == medicine_change}
	{var $btn = '<button class="btn btn-info btn-xs"><i class="fa fa fa-exchange"></i> Zaměněno</button>'}
	{var $tit = 'Zaměněno'}
	{var $msg = ""}
{/if}


<li>
	<div class="timeline-badge">
		{$btn|noescape}
	</div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4 class="timeline-title">{$tit}</h4>
			<p>
				<span class="text-muted"><i class="fa fa-clock-o"></i>&nbsp;&nbsp; {$change->_getDate()|date:'%d. %m. %H:%M'}</span>
				<br>
				<span class="text-muted"><i class="fa fa-user"></i>&nbsp;&nbsp; {$change->getUserName()}</span>
			</p>
		</div>
		<div class="timeline-body">
			<p>{$msg|noescape}</p>

			{if $change->_getType() == postponed}
				<p>
				<div>
					Z <b>{$change->getOrderFrom()}</b> do <b>{$change->getOrderTo()}</b>
				</div></p>
			{/if}

			{if $change->_getType() == medicine_change}<p>
				<table class="table table-hover  table-bordered table-change-history ">
					<tr>
						<td></td>
						<th>Přípravek</th>
						<th>Balení</th>
					</tr>
					<tr>
						<th>Z</th>
						<td>{$change->getMedicineFromName()}</td>
						<td>{$change->_getMedicineAmountFrom()}</td>
					</tr>
					<tr>
						<th>Na</th>
						<td>{$change->getMedicineToName()}</td>
						<td>{$change->_getMedicineAmountTo()}</td>
					</tr>
				</table></p>
			{/if}
			<hr>
			<p>
				<b>Z důvodu:</b> <i>{$change->_getComment()}</i>
			</p>
		</div>
	</div>
</li>



{*- <br>*}
{*{$msg|noescape}*}





{*<div class="container">*}
	{*<ul class="timeline">*}

		{*<li>*}
			{*<div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>*}
			{*<div class="timeline-panel">*}
				{*<div class="timeline-heading">*}
					{*<h4 class="timeline-title">Mussum ipsum cacilds</h4>*}
				{*</div>*}
				{*<div class="timeline-body">*}
					{*<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis*}
						{*porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros*}
						{*vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.*}
						{*Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce*}
						{*receita de bolis, mais bolis eu num gostis.</p>*}
				{*</div>*}
			{*</div>*}
		{*</li>*}
	{*</ul>*}
{*</div>*}