<span class="closing-date">
{if $hide}
	<i> extra </i>
{else}
	<span class="closing-date-markup">
	{$datetime|date:'%d. %m. %Y %H:%M'}
	</span>
	{if $showCountDown}
	<span class="countdown-markup" data-orderid="{$orderid}" data-targetdate="{$datetime|date:'%Y-%m-%d %H:%M'}"></span>
	{/if}
{/if}
	</span>