{if $order->isNew()}
	{var $bg = bg-info}
{elseif $order->isSent()}
	{var $bg = bg-warning}
{elseif $order->isClosed()}
	{var $bg = bg-success}
{elseif $order->isArchived()}
	{var $bg = bg-default}
{/if}

<span class="order-label order-label-normal {$bg}">



	{$order->_getClosingDate()|date:'%d/%m/%Y'}

	{if $order->isNew()}
		<i class="fa fa-list-ul"></i>
	{elseif $order->isSent()}
	<i class="fa fa-send"></i>
	{elseif $order->isClosed()}
	<i class="fa fa-lock"></i>
	{elseif $order->isArchived()}
	<i class="fa fa-archive"></i>
	{/if}

	{if $order->isNew()}
		Nová
	{elseif $order->isSent()}
		Odeslaná
	{elseif $order->isClosed()}
		Uzavřená
	{elseif $order->isArchived()}
		Archivovaná
	{/if}



</span>

{if $order->isIsExtra() && !$order->isArchived()}
{*{if $order->isIsExtra()}*}
	<span class="order-label order-label-extra  bg-danger">
		<i class="fa fa-exclamation-triangle"></i> Extra
	</span>
{elseif $order->isIsExtra() && $order->isArchived()}
	<span class="order-label order-label-extra  bg-danger">
		<i class="fa fa-exclamation-triangle"></i>
	</span>
{/if}
