body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 30px 0;
}

/* from round-about */

.medium-text {
    width: 250px;
!important;
}

.full-text {
    width: 100%;
!important;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.popover {
    min-width: 150px !important;
}

.chosen-container {
    /*width: 100%;*/
    min-width: 300px !important;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}

.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: -4px;
    margin-right: 0;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
}

.right {
    padding: 5px;
}

.left {
    text-align: right;
}

.vyber-kopirovani {
    margin-bottom: 0px;
}

.vyber-kopirovani a {
    padding: 6px 11px !important;
}

.tyden {
    padding: 2px;
}

.center {
    /*width: 150px;*/
    margin: 0px auto;
    padding: 5px;
    text-align: center;
}

.input-number {
    height: 32px;
    width: 50px !important;
    text-align: center;
    border: 1px solid #dddddd;

}

.input-number {
    transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
}

.leky_table th {
    text-align: center;
}

.dalsi_tyden {
    display: none;
}

.specialities td input {
    width: 50px;
}

.specialities td select {
    width: 200px;
}

.specility_days {
    width: 139px;
}

.medicine-select {
    width: 350px;

}

.medicine-select-td {
    padding: 4px;
}

.big_modal {
    width: 1200px;
}

.medium_modal {
    width: 800px;
}

/*.medCardLeft*/
/*{*/
/*border-right: 1px solid #158cba !important;*/
/*}*/
.table-card td, .table-card th {
    border: 1px solid #E6E6E6 !important;
    border-color: #e6e6e6;
    width: 1px;
}

.davkaTable td {
    border: 0px !important;
    width: 35px;
    text-align: center;
    border-right: 1px dotted #e4e4e4 !important;
    margin: 8px 0px;
}

.davkaTable td:last-child {
    border: 0px !important;
}

.tydny {
    display: inline-block;
    float: left;
}

#help {
    float: right;
}

.help {
    cursor: help !important;
}

.table-card td.davka, .table-card td.medCardLeft {

    padding: 5px !important;
    border-right: 2px solid #454545 !important;
}

.pointer {
    cursor: pointer;
}

.user-alert {
    border-width: 1px;
    margin-right: 6px;
    max-width: 260px;
    padding: 4px 10px;
    margin: 0px;
}

.user-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.user-warning {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.warning-color {
    color: #a94442;
}

.success-color {
    color: #6fed84;
}

.right-th th {
    text-align: right;
}

.dangerous {
    background: #ffbebe;
}

.critical {
    color: red;
}

.ware {
    color: #ff7e9d;
}

tfoot {
    display: table-header-group;
}

.small-chosen + div.chosen-container {
    min-width: 0px !important;
    width: 100% !important;
}

.small-chosen {
    padding-top: 2px;
    height: 26px;
}

.mini-text {
    margin: 5px;
    width: 50px;
    display: inline-block;
}

.mini-select {
    margin: 5px;
    width: 100px;
    display: inline-block;
}

.right {
    text-align: right;
}

.pointer {
    cursor: pointer;
}

.deps {
    margin: 10px;
    display: inline-block;
}

.download {
    display: inline-block;
}

.pills-warning {
    background: #ff9a00 !important;
    color: white !important;
    border-radius: 3px !important;
}

.plus-minus-usage {
    display: inline-block;
    width: 120px;
    padding-top: 1px;

}

.plus-minus-input {
    height: 37px !important;
}

.weeks-select {
}

.miniFormInputField {
    width: 70px;
    height: 34px;
    margin: 4px;
    border-color: #ccc;
}

.activeWeekSelect {
    float: left;
}

#activeWeekAlert {
    float: left;
    margin-top: 6px;
    max-width: 350px;
}

.stav {
    margin: -1px;
}

.activeWeek {
    color: #6edc20;
}

.isWeekActive {
    width: 32px !important;
    text-align: right;
    color: #b5b5b5;
}

.firstRow {
    border-top: 2px solid #3e3e3e;
}

.fakeInput {
    border: none;
    background: transparent;
}

.testing-msg {
    height: 20px;
    background: #ff3939;
    color: white;
    font-size: 11pt;
    text-align: center;
}

.huge {
    font-size: 15pt;
}

.moveLeft {
    padding-left: 0px !important;
}

#spinner {

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
    position: fixed;
    width: 100%;
    z-index: 10000;
    padding-left: 45%;
    top: 0;
    left: 0;
    bottom: 0;
}

#spinner > .inner {
    position: relative;
    top: 100px;
}

#spinner {
    display: none;
}

.contentDiv {
    position: relative;
}

.this-revision, .this-revision td {
    background-color: #CEE0FC !important;
}

.comment-input {
    width: 300px;
    height: 34px;
    margin: -1px;
    border-color: #ccc;
}

.cursor-input {
    cursor: pointer;
}

.nav > li > a {

    padding-left: 12px !important;
    padding-right: 12px !important;
}

/** technical change **/
.tc {
    font-style: italic;
}

.future {
    color: #9e9e9e;
}

.activeVersion {
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.branche_row {
    border-top: 1px dotted #dfdfdf;
    margin-top: 10px;
    padding-top: 10px;

}

.order {
    margin: 10px;
    padding-top: 15px;
}

.orderHashLabel {
    display: inline-block;
    background: #dadada;
    padding: 4px;
    border: 2px solid #dadada;
    border-radius: 3px;
    margin: 3px !important;
    width: 130px;
    padding-left: 25px !important;

}

.noOrder {
    border: 2px dotted #d2d2d2 !important;

    background: #f3f3f3;
}

.orderActive {
    background: #158cba;
    border: 2px solid #158cba !important;
    color: white;
}

.orderHasItems {
    border: 1px solid #e2e2e2;

}

.orderNoItems {
    border: 1px dotted #e8e8e8;
    color: #c1c1c1 !important;
    padding-bottom: 5px;
}

.orderHeader {
    font-size: 13pt;
    margin-bottom: 7px;
}

.orderName {
    /*font-size: 120%;*/
    font-weight: bold;
    display: block;
}

.orderBody {
    padding: 0 15px 0px 15px;
}

.orderDate {
    margin-left: 15px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.danger-color {
    color: #ff291c;
}

.urgent-help {
    cursor: help;
}

.order-label {
    padding: 2px 5px;
    font-size: 12pt;
    border-radius: 3px;
}

.order-label-normal {
    color: white;
}

.order-label-extra {
    color: white;
    margin-left: 5px;
}

.orderMedicine {
    border: 1px solid #eee;
    padding: 10px;
    padding-bottom: 0;
}

.small-line {
    width: 100px;
    display: inline-block;
    height: 32px;
    text-align: center;
    border: 1px solid #dddddd;
}

.archivedOrders {
    float: right !important;
}

.extraOrder {
    border: none !important;
    box-shadow: 0px 0px 13px red;

}

.urgent-info {
    display: block;
    font-size: 10pt;
}

.table-smaller td {
    padding: 4px !important;
}

.order-table tr:nth-child(n+3) {
    display: none;
}

/** expand */
.expand-overlay {
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    top: 30%;
    width: 98%;
    z-index: 1000;
    height: 70%;

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, white); /* Standard syntax */
}

.expand-label {
    font-size: 22pt;
    color: #6f6f6f;;
    margin-bottom: -2px;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, 0);
}

.expand-button {
    font-size: 11pt;
}

.table.table-order-items tbody tr:nth-child(n+4) {
    display: none;
}

.collapse-button {
    display: none;
    font-size: 12pt;
}

.closing-date {
    position: relative;
}

.closing-date-markup {
}

.countdown-markup {
    position: absolute;
    top: 23px;
    left: 0px;
    font-size: 80%;
    color: gray;
}

/*order filters*/
.order-filter label.btn {
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
}

.order-filter span {
    display: block;
    padding: 5px 10px;
    font-size: 120%;
}

.order-filter .first-label {
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.order-filter input[type=checkbox] {
    display: none;
}

.order-filter input:not(:checked) + label {
    opacity: 0.65;
}

.order-filter-hidden label {
    opacity: 0.65 !important;
}

.order-filter .fa {
    width: 17px;
    font-size: 120%;
    position: relative;
    top: 2px;
    text-align: left;
}

.filter-markup {
    text-align: right;
    font-size: 150%;
    padding-top: 2pt;
    padding-right: 0;

}

.filter-row {
    margin-top: 10px;
}

/*END filters*/

.table-change-history {
    width: 60% !important;
    margin-bottom: 0;
}

.table-change-history td, .table-change-history th {
    padding: 0 !important;
    padding-left: 3px !important;
    /*border-top: 1px solid #e6e6e6;*/
}

.change-li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e6e6e6;
}

.orderItemStateButton button, .orderItemStateButton a {
    width: 92px;
    margin-right: 5px;
    text-align: left;
}

.orderItemStateButton button > .fa {
    width: 14px;
}

.orderItemStateButton button {
    cursor: default;
}

.orderItemStateButton button:focus, .orderItemStateButton a:focus {
    outline: 0;
}

/**
orders in radio list when moving the order
 */
.orderMoveCheckbox {
    padding: 5px 5px 5px 26px !important;
    border-radius: 4px;
    border: 2px solid;
}

.orderMoveCheckboxNotOpen {
    background: #eee;
    border-color: #e2e2e2;
}

.orderMoveCheckboxSent {
    background-color: #ff851b;
    border-color: #ff7701;
    color: #fff;
}

.orderMoveCheckboxExtra {
    border-color: rgb(255, 33, 33);
}

.orderMoveCheckboxOpen {
    color: #ffffff;
    background-color: #75caeb;
    border-color: #5fc1e8;
}

.bg-default {
    background-color: #eee;
    color: #555;
}

.multiPillsFormTd {
    padding-right: 25px
}

#flashes {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1000000000000;
}